{% extends "base.htm" %}

{% block title %}{{ user.name }}{% endblock %}

{% block page %}
    {# TODO: maybe make this logic a little bit better... #}
    {% if not user is defined %}
        {% set user = current_user %}
    {% endif %}

    {% set own_profile = user == current_user %}
    {% set view_url = url_for("user.view_single_user", user=user) %}
    {% set personal_url = url_for("user.edit_user", user=user) %}

    {% set pages = [
        (_("Personal"), personal_url, None, False),
        (_("Avatar"), url_for("user.edit_user_avatar", user=user), None, False),
        (_("Password"), url_for("user.change_password", user=user), None, False),
        (_("Two-factor authentication"), url_for("user.tfa"), None, True),
        (_("Email subscriptions"), url_for("user.edit_user_mailinglist_subscriptions", user=user), None, False),
        (_("UvA account linking"), url_for("user.view_user_student_id_linking", user=user), None, False),
        (_("Activities"), url_for("user.view_user_activities", user=user), None, False),
        (_("Applications"), url_for("user.view_user_applications", user=user), None, False),
        (_("Roles"), url_for("user.view_single_user_roles", user=user), Roles.GROUP_PERMISSIONS, False),
        (_("Groups"), url_for("user.view_user_groups", user=user), None, False),
        (_("Administrator"), url_for("user.edit_user_admin", user=user), Roles.USER_WRITE, False)] %}

    <div class="container user-profile-container">
        <div class="row">
            <nav class="col-lg-3 mb-3">
                <ul class="list-group">
                    <a href="{{ view_url }}" class="list-group-item list-group-item-action{% if view_url == request.path %} active{% endif %}">
                        {% if own_profile %}
                            <img src="{{ url_for('user.view_avatar') }}" alt="user-avatar" class="user-image d-block mb-1">
                        {% else %}
                            <img src="{{ url_for('user.view_avatar', user=user) }}" alt="user-avatar" class="user-image d-block mb-1">
                        {% endif %}
                        <h4 class="text-nowrap d-inline">{{ user.name }}</h4>
                    </a>
                    {% for page, url, role, own_profile_only in pages %}
                        {% if (not role or role_service.user_has_role(current_user, role))
                                and (not own_profile_only or own_profile) %}
                            {% set classes = "list-group-item list-group-item-action" %}
                            {% if url == request.path %}
                                {% set classes = classes + " active" %}
                            {% endif %}
                            <a href="{{ url }}" class="{{ classes }}">{{ page }}</a>
                        {%- endif -%}
                    {% endfor %}
                </ul>
            </nav>
            <div class="col-lg-9">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
