<template lang="pug">
loading-container(:active="loading")
    h1(v-if="!id") {{ $t('Create meeting') }}
    h1(v-if="id") {{ $t('Edit meeting') }}

    a-form(:form="form", @submit.prevent="save")
        a-form-item(v-bind="formItemLayout", :label="$t('Meeting')")
            a-input(
                v-decorator="['name', { rules: [{ required: true, message: $t('Please enter the meeting name') }]}]"
            )
        a-form-item(v-bind="formItemLayout", :label="$t('Description')")
            a-textarea(v-decorator="['description']")

        a-form-item(v-bind="formItemLayout", :label="$t('Start time')")
            a-date-picker(
                v-decorator="['start_time', {rules: [{ required: true, message: $t('Please select a start-time') }]}]",
                :showTime="{ format: 'HH:mm', defaultValue: moment('00:00', 'HH:mm') }",
                format="YYYY-MM-DD HH:mm",
                :placeholder="$t('Start time')"
            )
        a-form-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
        )
            a-checkbox(
                v-decorator="['auto_end_time',  {valuePropName: 'checked', initialValue: !this.id}]"
            ) {{ $t('The meeting takes 1 hour') }}
        a-form-item(
            v-bind="formItemLayout",
            :label="$t('End time')",
            v-show="!form.getFieldValue('auto_end_time')"
        )
            a-date-picker.mr-3(
                v-decorator="['end_time', {rules: [{ required: !form.getFieldValue('auto_end_time'), message: 'Please select a end-time' }]}]",
                :showTime="{ format: 'HH:mm', defaultValue: moment('00:00', 'HH:mm') }",
                format="YYYY-MM-DD HH:mm",
                :placeholder="$t('End time')"
            )

        a-icon.ant-notification-notice-icon-warning(
            type="exclamation-circle",
            style="font-size: 20px;"
        )
        i.ml-2 {{ $t('location.warning') }}

        a-form-item(v-bind="formItemLayout", :label="$t('Location')")
            a-input(v-decorator="['location']")
        a-form-item(v-bind="formItemLayout", :label="$t('Group')")
            a-select(
                v-decorator="['group_id', { rules: [{required: true, message: $t('Please select a group') }]}]"
            )
                a-select-option(
                    v-for="userGroup in userGroups",
                    :key="userGroup.id"
                ) {{ userGroup.name }}
        a-form-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
        )
            a-checkbox(
                v-decorator="['cancelled',  {valuePropName: 'checked', initialValue: false}]"
            ) {{ $t('Cancelled') }}

        a-form-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
        )
            a-button-group
                a-button(:href="meetingURL") {{ $t('Back') }}
                a-button(type="primary", html-type="submit") {{ $t('Submit') }}
        a-form-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
        )
            a-popconfirm(
                v-if="id",
                :title="$t('Delete meeting?')",
                @confirm="deleteMeeting()"
            )
                a-button(type="danger") {{ $t('Delete') }}
</template>

<script lang="ts">
import { validateAntForm } from "../../utils/form";
import { Component, Vue } from "vue-property-decorator";
import { WrappedFormUtils } from "ant-design-vue/types/form/form";
import FormGroupField from "../form/form_group_field.vue";
import moment from "moment";
import { meetingApi } from "../../scripts/api/meeting";
import Flask from "../../utils/flask";
import { Groups, userApi } from "../../scripts/api/user";

import {
    Button,
    Checkbox,
    DatePicker,
    Form,
    Icon,
    Input,
    notification,
    Popconfirm,
    Select,
} from "ant-design-vue";
import LoadingContainer from "../loading_container.vue";

@Component({
    components: {
        "form-group-field": FormGroupField,
        "loading-container": LoadingContainer,
        "a-date-picker": DatePicker,
        "a-form-item": Form.Item,
        "a-form": Form,
        "a-popconfirm": Popconfirm,
        "a-checkbox": Checkbox,
        "a-select": Select,
        "a-select-option": Select.Option,
        "a-button-group": Button.Group,
        "a-button": Button,
        "a-input": Input,
        "a-textarea": Input.TextArea,
        "a-icon": Icon,
    },
    methods: {
        moment: moment,
    },
})
export default class EditMeeting extends Vue {
    loading = true;
    form: WrappedFormUtils | null = null;
    userGroups: Groups[] = [];
    formItemLayout = {
        labelCol: {
            span: 24,
            lg: { span: 4 },
        },
        wrapperCol: {
            span: 24,
            lg: { span: 20 },
        },
    };

    created() {
        this.form = this.$form.createForm(this);
    }

    async mounted() {
        this.userGroups = (await userApi.getUserGroups(null)).data;
        this.userGroups.sort((a, b) => a.name.localeCompare(b.name));
        if (this.id) {
            const resp = (await meetingApi.getMeeting(this.id)).data;
            const start_time = moment(resp.start_time);
            const end_time = moment(resp.end_time);
            this.form!.setFieldsValue({
                name: resp.name,
                description: resp.description,
                group_id: resp.group_id,
                start_time: moment(resp.start_time),
                auto_end_time: end_time.diff(start_time, "hours") === 1,
                end_time: moment(resp.end_time),
                location: resp.location,
                cancelled: resp.cancelled,
            });
        }

        this.loading = false;
    }

    get id(): number {
        return parseInt(this.$route.params["meetingId"]);
    }

    private async deleteMeeting() {
        await meetingApi.deleteMeeting(this.id);
        await notification.success({
            message: this.$t("Success") as string,
            description: this.$t("Meeting successfully deleted.") as string,
        });
        window.location.href = Flask.url_for("meeting.view");
    }

    get meetingURL() {
        if (this.id) {
            return Flask.url_for("meeting.get_meeting", {
                meeting: this.id,
            });
        } else {
            return Flask.url_for("meeting.view");
        }
    }

    private async save() {
        let values;
        try {
            values = await validateAntForm(this.form!);

            if (values["auto_end_time"]) {
                // In the backend we set the end time one hour from the starting time if the
                // values are the same. See configure_end_time() in meeting_service.
                values.end_time = values.start_time;
            }

            values["start_time"] = values.start_time.toISOString();
            values["end_time"] = values.end_time.toISOString();

            delete values["auto_end_time"];
        } catch (e) {
            return; // Form didn't validate
        }
        try {
            this.loading = true;
            if (!this.id) {
                const resp = (await meetingApi.createMeeting(values)).data;

                await this.$router.replace({
                    name: "meeting-edit",
                    params: { meetingId: String(resp.id) },
                });
            } else {
                await meetingApi.updateMeeting(this.id, values);
            }
            notification.success({
                message: this.$t("Success") as string,
                description: this.$t("Meeting successfully saved.") as string,
            });
            window.location.href = this.meetingURL;
        } finally {
            this.loading = false;
        }
    }
}
</script>

//@formatter:off
<i18n>
{
    "en": {
        "Cancelled": "Cancelled",
        "Create meeting": "Create meeting",
        "Delete meeting?": "Delete meeting?",
        "Description": "Description",
        "Edit meeting": "Edit meeting",
        "End time": "End time",
        "Group": "Group",
        "Location": "Location",
        "location.warning": "Please keep in mind that that all data (e.g. meeting URLs) will be public!",
        "Meeting successfully deleted.": "Meeting successfully deleted.",
        "Meeting successfully saved.": "Meeting successfully saved.",
        "Meeting": "Meeting",
        "Please enter the meeting name": "Please enter the meeting name",
        "Please select a end-time": "Please select a end-time",
        "Please select a group": "Please select a group",
        "Please select a start-time": "Please select a start-time",
        "Start time": "Start time",
        "The meeting takes 1 hour": "The meeting takes 1 hour"
    },
    "nl": {
        "Cancelled": "Geannuleerd",
        "Create meeting": "Meeting aanmaken",
        "Delete meeting?": "Verwijder meeting?",
        "Description": "Beschrijving",
        "Edit meeting": "Meeting aanpassen",
        "End time": "Eindtijd",
        "Group": "Groep",
        "Location": "Locatie",
        "location.warning": "Vergeet niet dat alle data (zoals meeting URL's) publiek zullen zijn!",
        "Meeting successfully deleted.": "Meeting succesvol verwijderd.",
        "Meeting successfully saved.": "Meeting succesvol opgeslagen.",
        "Meeting": "Meeting",
        "Please enter the meeting name": "Vul een meeting naam in",
        "Please select a end-time": "Vul een eindtijd in",
        "Please select a group": "Selecteer een groep",
        "Please select a start-time": "Vul een starttijd in",
        "Start time": "Starttijd",
        "The meeting takes 1 hour": "De meeting duurt 1 uur"
    }
}
</i18n>
//@formatter:on
