{% extends 'base.htm' %}


{% block below_menu %}
    <div class="jumbotron" id="jumbotron" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.35)), url('/static/img/Jumbotron.jpg');">
        <div class="container">
            <h1 class="display-4 font-weight-normal">{{_('Study Association')}} <strong>via</strong></h1>
            <p class="lead font-weight-normal">
                {{_("<b>via</b>, short for 'Vereniging Informatiewetenschappen Amsterdam' (Dutch), is the study association for Computer Science, Artificial Intelligence and Information Science at the University of Amsterdam.")}}
            </p>
        </div>
    </div>
{% endblock %}

{% block page %}
    <div class="row">
        <div class="col-md-7 newsrole">
            <a href="{{ url_for("news.root") }}">
                <h2>{{ _('Latest news') }}</h2>
            </a>
            {% for item in news %}
                <article>
                    <a href='{{ url_for('news.view', news=item) }}'>
                        <h3>{{ item.title }}</h3>
                    </a>
                    <div class="user">
                        <img class="avatar" src="{{ item.user_avatar }}">
                        <div class="meta">
                            <span class="author">{{ item.user_name }}</span><br>
                            {% if item.sponsored %}
                                <span class="sponsored">{{ _('Sponsored') }}</span> |
                            {% endif %}
                            <span class="date">{{ item.publish_date }}</span>
                        </div>
                    </div>
                    <div class="excerpt">
                        {{ item.content
                           | markdown_summary(300,
                                              truncate_method="paragraph",
                                              read_more=item.read_more) }}
                    </div>
                </article>
            {% endfor %}

            <a href="{{ url_for("news.root", page=2) }}">
                <p>{{ _("View more news") }}</p>
            </a>

        </div>
        <div class="col-md-5">
            {% include 'activity/view_home.htm' %}
            {% include 'home/jobs_simple.htm' %}
        </div>
    </div> {# /.row #}
{% endblock %}
