<template lang="pug">
a-select.w-100(
    :showSearch="true",
    :labelInValue="true",
    :value="selectValue",
    :allowClear="true",
    :placeholder="$t('placeholder')",
    :filterOption="false",
    @search="fetch",
    @focus="() => fetch('')",
    :notFoundContent="fetching ? undefined : $t('empty')",
    @change="emit"
)
    template(v-slot:notFoundContent="")
        a-spin(v-if="fetching", size="small")
    a-select-option(v-for="d in data", :key="d.id") {{ label(d) }}
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Select, Spin } from "ant-design-vue";
import { Activity, activityApi } from "../../scripts/api/activity";
import { datetime } from "../../scripts/formatters";

@Component({
    components: {
        "a-spin": Spin,
        "a-select": Select,
        "a-select-option": Select.Option,
    },
})
export default class FormActivityField extends Vue {
    @Prop() value;
    private data: Activity[] = [];
    private fetching = false;

    get selectValue(): { key: number; label: string } | undefined {
        if (!this.value) {
            return undefined;
        }

        return { key: this.value.id, label: this.label(this.value) };
    }

    private label(a: Activity) {
        return `${a.name.nl} - ${a.name.en} (${datetime(a.start_time)})`;
    }

    private async fetch(value) {
        this.data = [];
        this.fetching = true;
        const data = await activityApi.searchActivities(1, value);
        this.data = data.data.data;
        this.fetching = false;
    }
    private emit(e) {
        if (e && e.key) {
            const val = this.data.find((a) => a.id == e.key);
            this.$emit("input", val);
            this.$emit("change", val);
            this.$emit("change.value", val);
        } else {
            this.$emit("input", e);
            this.$emit("change", e);
            this.$emit("change.value", e);
        }
    }
}
</script>

<style scoped lang="sass">

.form-display-description
    margin-left: 4px
</style>

<i18n src="./form_activity_field.json"></i18n>
