<template lang="pug">
a-select(
    :showSearch="true",
    :labelInValue="true",
    :value="value",
    :allowClear="true",
    placeholder="Select page",
    style="width: 100%",
    :filterOption="false",
    @search="fetch",
    @focus="() => fetch('')",
    :notFoundContent="fetching ? undefined : 'No pages found'",
    @change="(e) => $emit('change', e)"
)
    template(v-slot:notFoundContent="")
        a-spin(v-if="fetching", size="small")
    a-select-option(v-for="d in data", :key="d.value") {{ d.text.path }}
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Select, Spin } from "ant-design-vue";
import { pageApi } from "../../scripts/api/page";

@Component({
    components: {
        "a-spin": Spin,
        "a-select": Select,
        "a-select-option": Select.Option,
    },
})
export default class FormPageField extends Vue {
    @Prop() value;
    data: any[] = [];
    fetching = false;

    private async fetch(value) {
        this.data = [];
        this.fetching = true;
        const data = await pageApi.findPages(value, 1);
        const pages = data.data.data;
        this.data = pages.map((page) => ({
            text: page,
            value: page.id,
        }));
        this.fetching = false;
    }
}
</script>

<style scoped lang="sass">

.form-display-description
    margin-left: 4px
</style>
