<template lang="pug">
a-select(
    :showSearch="true",
    :labelInValue="true",
    :value="value",
    :allowClear="true",
    placeholder="Select course",
    style="width: 100%",
    :filterOption="false",
    @search="fetch",
    @focus="() => fetch('')",
    :notFoundContent="fetching ? undefined : 'No course found'",
    @change="(e) => $emit('change', e)"
)
    template(v-slot:notFoundContent="")
        a-spin(v-if="fetching", size="small")
    a-select-option(v-for="d in data", :key="d.value") {{ d.text }}

    template(v-for="(_, name) in $slots", v-slot:[name]="")
        slot(:name="name")
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Select, Spin } from "ant-design-vue";
import { courseApi } from "../../scripts/api/course";
import { Option } from "ant-design-vue/types/select/option";

@Component({
    components: {
        "a-spin": Spin,
        "a-select": Select,
        "a-select-option": Select.Option,
    },
})
export default class FormCourseField extends Vue {
    @Prop() value;
    private data: Partial<Option>[] = [];
    private fetching = false;

    private async fetch(value) {
        this.data = [];
        this.fetching = true;
        const data = await courseApi.getCourses(value, 1, [], []);
        const courses = data.data.data;
        this.data = courses.map((course) => ({
            text: `${course.name} (${course.datanose_code})`,
            value: course.id,
        }));

        this.fetching = false;
    }
}
</script>

<style scoped lang="sass">

.form-display-description
    margin-left: 4px
</style>
