<template lang="pug">
.form-group
    label(:for="id") {{ label }}
    a-form-item(
        :validate-status="errors.length ? 'error' : ''",
        :hasFeedback="!!errors.length"
    )
        template(v-slot:help="")
            span(v-for="error in errors") {{ error }}
        a-select(v-model="value", :mode="multiple ? 'multiple' : 'default'")
            a-select-option(
                v-for="option in selection",
                :value="option.value",
                :key="option.value",
                :selected="option.selected"
            ) {{ option.text }}
    select.wtform-select-field-hidden-select(
        :id="id",
        :name="name",
        :multiple="multiple"
    )
        template(v-if="multiple")
            option(v-for="option in value", :value="option", selected)
        option(v-else, :value="value", selected)
</template>
<style lang="sass" scoped>
.wtform-select-field-hidden-select, .wtform-select-field-hidden-select:focus
    // Copied from .select2-offscreen
    clip: rect(0 0 0 0) !important
    width: 1px !important
    height: 1px !important
    border: 0 !important
    margin: 0 !important
    padding: 0 !important
    overflow: hidden !important
    position: absolute !important
    outline: 0 !important
    left: 0px !important
    top: 0px !important
</style>
<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Select } from "ant-design-vue";

@Component({
    name: "wtform-select-field",
    components: { "a-select": Select, "a-select-option": Select.Option },
})
export default class WtformSelectField extends Vue {
    @Prop(Array) choices: [string, string, boolean][];
    @Prop(Array) errors: string;
    @Prop(String) format: string;
    @Prop(Boolean) required: boolean;
    @Prop(Boolean) multiple: boolean;
    @Prop(String) label: string;
    @Prop(String) name: string;
    @Prop(String) id: string;

    value: string[] = [];
    selection: { value: string; text: string; selected: boolean }[] = [];

    created() {
        this.selection = this.choices.map((e) => ({
            value: e[0],
            text: e[1],
            selected: e[2],
        }));
        this.value = this.selection
            .filter((e) => e.selected)
            .map((e) => e.value);
    }
}
</script>
