// Webpack fix: Make sure that font-awesome can find the fonts.
$fa-font-path: "../../../node_modules/@fortawesome/fontawesome-free/webfonts";

$via-blue: #304ba3;
$via-blue-dark: #24387a;

$theme-colors: (
    "primary": $via-blue,
);

$font-size-small: 0.875rem;

$border-radius: 4px;
