<template lang="pug">
div
    render-page(pageUrl="lectures")
    template(v-if="isAnonymous || hasMailingAdmin")
        i18n(path="register.text", tag="p")
            template(v-slot:formLink="")
                strong
                    a(@click="showForm = true", href="#") {{ $t('this form') }}
        LecturesMailingForm(v-show="showForm")
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import RenderPage from "../page/render_page.vue";
import LecturesMailingForm from "./LecturesMailingForm.vue";
import { authStore } from "../../store/auth";

@Component({
    components: {
        "render-page": RenderPage,
        LecturesMailingForm: LecturesMailingForm,
    },
    methods: {},
})
export default class Lectures extends Vue {
    private showForm = false;

    get isAnonymous(): boolean {
        return authStore.isAnonymous();
    }

    get hasMailingAdmin(): boolean {
        return !!authStore.roles.MAILINGLIST_ADMIN?.has_role;
    }
}
</script>

<i18n src="./Lectures.json"></i18n>
