<!-- <template> cannot (!) be used, AntSchemaForm uses a render function
 embed this component in another to show additional HTML beside this component. -->
<script lang="ts">
import { Component } from "vue-property-decorator";
import { AntSchemaForm } from "../form/AntSchemaForm";
import {
    educationApi,
    LectureMailingRequest,
} from "../../scripts/api/lectures";
import { notification } from "ant-design-vue";
import Axios from "axios";

@Component
export default class LecturesMailingForm extends AntSchemaForm {
    schemaName = "LecturesMailingRequest";

    async save(r: LectureMailingRequest): Promise<void> {
        try {
            await educationApi.registerLectureMailing(r);
            notification.success({
                message: this.$t("notification.success.message") as string,
                description: this.$t("notification.success.description", {
                    email: r.email,
                }) as string,
            });
            this.form?.resetFields();
        } catch (e) {
            let msg = this.$t("notification.error.description") as string;
            if (Axios.isAxiosError(e)) {
                if (typeof e.response?.data?.data?.details === "string") {
                    msg = e.response.data.data.details;
                }
            }
            notification.error({
                message: this.$t("notification.error.message") as string,
                description: msg,
            });
        } finally {
            this.loading = false;
        }
    }
}
</script>
<i18n src="./Lectures.json"></i18n>
