.btn {
    font-size: 14px;
    padding: 6px 12px;

    i.fas,
    i.far {
        margin-right: 3px;
    }
}

.via-button {
    line-height: 1.2em;
    padding: 7px 12px 7px 12px;
    border-radius: 2px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);

    background-color: #304ba3;
    color: #eeeeee;

    &:hover {
        color: #eeeeee;
    }

    i.right-arrow {
        display: inline-block;
        margin-left: 2px;
        padding: 4px;
        border: solid #ffffff;
        border-width: 0 2px 2px 0;
        transform: rotate(-45deg);
    }
}
