footer {
    font-size: $font-size-small;
    background-color: #f9f9f9;
    margin-top: 30px;

    .links {
        margin-top: 30px;
        margin-bottom: 30px;

        .list {
            display: flex;
            flex-direction: column;

            span,
            a {
                margin: 4px 0;
                color: #333333;

                i {
                    margin-right: 8px;
                }
            }
        }
    }

    .list {
        margin: 10px 0;
    }

    .copyright {
        display: flex;
        margin-top: 20px;
        justify-content: center;

        .true {
            margin-left: auto;
            height: 100%;
        }
    }
}
