<template lang="pug">
loading-container(:active="loading")
    a-breadcrumb
        a-breadcrumb-item
            a(href="/admin") Admin
        a-breadcrumb-item
            router-link(
                :to="{ name: 'group-overview' }",
                v-slot="{ href, navigate}"
            )
                a(:href="href", @click="navigate") Groups
        a-breadcrumb-item {{ $t('Edit') }}
    h1(v-if="!id") Create group
    h1(v-if="id") Edit group - {{ form.getFieldValue('name') }}
    a-form(:form="form", @submit.prevent="save")
        a-form-item(v-bind="formItemLayout", label="Name")
            a-input(
                v-decorator="['name', { rules: [{ required: true, message: 'Please enter the group name.' }]}]"
            )
        a-form-item(v-bind="formItemLayout", label="E-mail type")
            a-radio-group(
                v-decorator="['mailtype', { rules: [{required: true, message: 'Please select e-mail type.'}]}]"
            )
                a-radio-button(value="none") None
                a-radio-button(value="mailinglist") Mailinglist
                a-radio-button(value="mailbox") Mailbox
        a-form-item(v-bind="formItemLayout", label="E-mailaddress")
            a-input(
                :disabled="form.getFieldValue('mailtype') === 'none'",
                v-decorator="['maillist', { rules: [{ required: form.getFieldValue('mailtype') !== 'none', message: 'Please enter the e-mailaddress name.' }]}]",
                addonAfter="@svia.nl"
            )
        a-form-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
        )
            a-button-group
                router-link(
                    :to="$route.meta.from || { name: 'group-overview' }",
                    v-slot="{ href, navigate}"
                )
                    a-button(:href="href", @click="navigate")
                        | Back
                a-button(type="primary", html-type="submit") Submit
</template>

<script lang="ts">
import Vue from "vue";
import instance from "../../utils/axios";
import Flask from "../../utils/flask";
import { validateAntForm } from "../../utils/form";
import { WrappedFormUtils } from "ant-design-vue/types/form/form";
import { Component } from "vue-property-decorator";
import { groupApi } from "../../scripts/api/group";
import LoadingContainer from "../loading_container.vue";
import {
    Breadcrumb,
    Button,
    Form,
    Input,
    notification,
    Radio,
} from "ant-design-vue";

@Component({
    components: {
        "loading-container": LoadingContainer,
        "a-form": Form,
        "a-form-item": Form.Item,
        "a-breadcrumb": Breadcrumb,
        "a-breadcrumb-item": Breadcrumb.Item,
        "a-input": Input,
        "a-radio-group": Radio.Group,
        "a-radio-button": Radio.Button,
        "a-button": Button,
        "a-button-group": Button.Group,
    },
})
export default class EditGroup extends Vue {
    private loading = true;
    private form: WrappedFormUtils | null = null;
    private formItemLayout = {
        labelCol: {
            xs: { span: 24 },
            sm: { span: 5 },
        },
        wrapperCol: {
            xs: { span: 24 },
            sm: { span: 19 },
        },
    };

    created(): void {
        this.form = this.$form.createForm(this);
    }

    async mounted(): Promise<void> {
        if (this.id) {
            const resp = await instance.get(
                Flask.url_for("api.group", { group: this.id })
            );
            this.form!.setFieldsValue({
                name: resp.data.name,
                mailtype: resp.data.mailtype,
                maillist: resp.data.maillist,
            });
            this.$forceUpdate();
        }
        this.loading = false;
    }

    get id(): string {
        return this.$route.params["groupId"];
    }

    private async save() {
        let values;
        try {
            values = await validateAntForm(this.form!);
        } catch (e) {
            return; // Form didn't validate
        }

        try {
            this.loading = true;
            if (!this.id) {
                const resp = (await groupApi.createGroup(values)).data;

                await this.$router.replace({
                    name: "group-edit",
                    params: { groupId: String(resp.id) },
                });
            } else {
                if (values.maillist == null) {
                    values.maillist = "none";
                }
                await groupApi.updateGroup(this.id, values);
            }
            notification.success({
                message: "Success",
                description: "Group successfully saved.",
            });
        } catch (e) {
            if (e.response.status == 404) {
                const data = e.response.data.data;
                notification.error({
                    message: "Failed",
                    description: `Group's ${data.resource} has not been created. Please create ${data.identifier} in Google admin according to the instructions on the wiki.`,
                });
            }
        } finally {
            this.loading = false;
        }
    }
}
</script>
