<template lang="pug">
loading-container(:active="loading")
    a-breadcrumb
        a-breadcrumb-item
            a(href="/admin") Admin
        a-breadcrumb-item
            router-link(
                :to="{ name: 'group-overview' }",
                v-slot="{ href, navigate}"
            )
                a(:href="href", @click="navigate") Groups
        a-breadcrumb-item Roles
    h1 Group roles
    a-transfer(
        :dataSource="options",
        :titles="['Disabled', 'Enabled']",
        showSearch="",
        :listStyle="{ width: '400px', height: '500px' }",
        :operations="['Enable', 'Disable']",
        :targetKeys="targetKeys",
        @change="(targets) => (targetKeys = targets)",
        :render="(item) => `${item.title}`",
        :filterOption="(input, option) => option.title.toLowerCase().indexOf(input.toLowerCase()) >= 0"
    )
    a-button-group.mt-3
        router-link(
            :to="$route.meta.from || { name: 'group-overview' }",
            v-slot="{ href, navigate}"
        )
            a-button(:href="href", @click="navigate")
                | Back
        a-button(type="primary", @click="save") Submit
</template>

<script lang="ts">
import Vue from "vue";
import instance from "../../utils/axios";
import Flask from "../../utils/flask";
import { Component } from "vue-property-decorator";
import { Breadcrumb, Button, notification, Transfer } from "ant-design-vue";
import { TransferItem } from "ant-design-vue/types/transfer";
import LoadingContainer from "../loading_container.vue";

@Component({
    components: {
        "a-transfer": Transfer,
        "a-button-group": Button.Group,
        "a-button": Button,
        "loading-container": LoadingContainer,
        "a-breadcrumb": Breadcrumb,
        "a-breadcrumb-item": Breadcrumb.Item,
    },
})
export default class GroupRoles extends Vue {
    private loading = true;
    private options: TransferItem[] = [];
    private targetKeys: string[] = ["activity_write"];

    async mounted(): Promise<void> {
        this.loading = true;
        try {
            const resp = await instance.get(
                Flask.url_for("api.group.roles", { group: this.id })
            );
            this.options = [];
            this.targetKeys = [];
            resp.data.options.forEach((e) => {
                this.options.push({
                    key: e,
                    title: this.$t(e) as string,
                });
            });
            resp.data.roles.forEach((e) => this.targetKeys.push(e));
        } finally {
            this.loading = false;
        }
    }

    get id(): string {
        return this.$route.params["groupId"];
    }

    private async save() {
        try {
            this.loading = true;
            const data = { roles: this.targetKeys };
            await instance.put(
                Flask.url_for("api.group.roles", { group: this.id }),
                data
            );
            notification.success({
                message: "Success",
                description: "Roles successfully saved.",
            });
        } finally {
            this.loading = false;
        }
    }
}
</script>

<i18n>
    {
    "en": {
    "ACTIVITY_WRITE": "Create activities",
    "ALV_WRITE": "Create ALVs",
    "CHALLENGE_WRITE": "Change challenges",
    "DOMJUDGE_ADMIN": "Display administrative buttons to DOMjudge",
    "EXAMINATION_WRITE": "Change the examinations",
    "FILE_READ": "Read files",
    "FILE_WRITE": "Upload files",
    "GROUP_READ": "View groups",
    "GROUP_WRITE": "Change group members",
    "GROUP_PERMISSIONS": "Change group permissions",
    "MOLLIE_READ": "View mollie transactions",
    "MAILINGLIST_ADMIN": "Manage Copernica mailing lists",
    "NAVIGATION_WRITE": "Change the navigation",
    "REDIRECT_WRITE": "Change the redirects",
    "NEWS_WRITE": "Create news articles",
    "PAGE_WRITE": "Create pages",
    "PIMPY_READ": "View Pimpy",
    "PIMPY_WRITE": "Upload minutes and tasks",
    "SEO_WRITE": "Change SEO properties",
    "USER_WRITE": "Change user properties",
    "VACANCY_READ": "View vacancy overview",
    "VACANCY_WRITE": "Change vacancies",
    "COMPANY_WRITE": "Manage company settings",
    "FINANCIAL_ADMIN": "Manage financing related tasks",
    "FORM_ADMIN": "View all available forms",
    "BANNER_ADMIN": "Manage site-wide banner",
    "TECHNICAL_ADMIN": "Trigger maintenance tasks"
    },
    "nl": {
    "ACTIVITY_WRITE": "Activiteiten aanmaken",
    "ALV_WRITE": "ALV's aanmaken",
    "CHALLENGE_WRITE": "Challenges aanpassen",
    "DOMJUDGE_ADMIN": "Administrative DOMjudge-knoppen weergevem",
    "EXAMINATION_WRITE": "Tentamens aanpassen",
    "FILE_READ": "Bestanden lezen",
    "FILE_WRITE": "Bestanden uploaden",
    "GROUP_READ": "Groepen weergeven",
    "GROUP_WRITE": "Leden van een groep aanpassen",
    "GROUP_PERMISSIONS": "Groepsrechten veranderen",
    "MOLLIE_READ": "Mollie-betalingen weergeven",
    "MAILINGLIST_ADMIN": "Copernica-mailinglijsten beheren",
    "NAVIGATION_WRITE": "Navigatie aanpassen",
    "REDIRECT_WRITE": "Redirects aanpassen",
    "NEWS_WRITE": "Nieuwsberichten aanmaken",
    "PAGE_WRITE": "Pagina's aanmaken",
    "PIMPY_READ": "Pimpy weergeven",
    "PIMPY_WRITE": "Notulen en taken uploaden",
    "SEO_WRITE": "SEO-eigenschappen aanpassen",
    "USER_WRITE": "Gebruikerseigenschappen aanpassen",
    "VACANCY_READ": "Vacatureoverzicht weergeven",
    "VACANCY_WRITE": "Vacatures aanpassen",
    "COMPANY_WRITE": "Bedrijfsinstellingen aanpassen",
    "FINANCIAL_ADMIN": "Financiele taken beheren",
    "FORM_ADMIN": "Alle beschikbare formulieren weergeven",
    "BANNER_ADMIN": "Banners voor de gehele site beheren",
    "TECHNICAL_ADMIN": "Onderhoudstaken starten"
    }
    }
</i18n>
