{% extends 'page/view_super.htm' %}

{% block title %}{{ _('Committee') }} - {{ title }}{% endblock %}

{% block page_title %}{{ _('Committee') }} - {{ title }}{% endblock %}

{% block page_content %}
    <p>
        {{ _('Coordinator') }}:
        {% if coordinator_interim %}
            <a href="mailto:sollicitatie@svia.nl" class='btn btn-danger btn-sm'>
                <i class="far fa-envelope"></i> {{_('Position vacant')}}
            </a>
        {% else %}
            {{ coordinator_name }}
        {% endif %}
        {% if coordinator_interim %}
            <br />{{_('Interim-coordinator')}}: {{ coordinator_name }}
        {% endif %}
        {% if maillist is defined %}<br />Email: <a href="mailto:{{ maillist }}@svia.nl">{{ maillist }}@svia.nl</a>{% endif %}
        {% if open_new_members %}
        <p>
            <strong>{{ _('Looking for new members') }}!</strong> <br />
            {{ _('Would you like to join this committee?') }} {{ _('Send an email to') }}
            {% if maillist is defined %} {{ _('to') }}
                <a href="mailto:{{ maillist }}@svia.nl">{{ maillist }}@svia.nl</a>
            {% else %}
                <a href="mailto:bestuur@svia.nl">bestuur@svia.nl</a>
            {% endif %}
        </p>
        {% endif %}
    </p>
    <hr />
    {{ revision.content | markdown }}
    <hr />
    <p>
        {{_('Committee members')}}:
        <ul>
            {%- for member in committee_members -%}
                <li>{{ member }}</li>
            {%- endfor -%}
        </ul>
    </p>
{% endblock %}
