<template lang="pug">
keep-alive
    div
        a-breadcrumb
            a-breadcrumb-item
                a(href="/admin") Admin
            a-breadcrumb-item
                router-link(
                    :to="{ name: 'newsletter-overview' }",
                    v-slot="{ href, navigate}"
                )
                    a(:href="href", @click="navigate") {{ $t('nav.overview') }}
        h1 {{ $t('nav.overview') }}

        router-link(
            :to="{ name: 'newsletter-create' }",
            v-slot="{ href, navigate }"
        )
            a-button(
                icon="plus",
                type="primary",
                :href="href",
                @click="navigate"
            ) {{ $t('create') }}
        a-table.mt-3(
            :columns="columns",
            :rowKey="(entry) => entry.id",
            :dataSource="data",
            :loading="loading",
            :bodyStyle="{ 'overflow-x': 'auto' }"
        )
            template(v-slot:date="record")
                div {{ date(record) }}
            template(v-slot:activities="record")
                ul
                    li(v-for="a in record", :key="a.activity_id") {{ a.title[locale] }}
            template(v-slot:activities_xml="record")
                a(:href="activityXmlHref(record.id)")
                    a-icon(type="cloud-download")
                    | XML
            template(v-slot:news="record")
                ul
                    li(v-for="ni in record", :key="ni.activity_id") {{ ni.title[locale] }}
            template(v-slot:news_xml="record")
                a(:href="newsXmlHref(record.id)")
                    a-icon(type="cloud-download")
                    | XML
            template(v-slot:action="record")
                router-link(
                    :to="{ name: 'newsletter-edit', params: { newsletterId: record.id } }",
                    v-slot="{ href, navigate }"
                )
                    a-button(type="link", :href="href", @click="navigate")
                        a-icon(type="edit")
                a-popconfirm(
                    title="Are you sure?!",
                    @confirm="deleteNewsletter(record.id)"
                )
                    a-button(type="link")
                        a-icon(type="delete")

        h1 URLs
        p {{ $t('urls.description') }}
        a-input-search.mb-3(
            :addon-before="$t('subheader.activities')",
            :value="activityLatestUrl",
            @search="copyToClipboard"
        )
            template(v-slot:enterButton="")
                a-button(icon="copy") {{ $t('copy') }}
        a-input-search.mb-3(
            :addon-before="$t('subheader.news')",
            :value="newsLatestUrl",
            @search="copyToClipboard"
        )
            template(v-slot:enterButton="")
                a-button(icon="copy") {{ $t('copy') }}
        a-input-search.mb-3(
            :addon-before="$t('subheader.greetings')",
            :value="greetingLatestUrl",
            @search="copyToClipboard"
        )
            template(v-slot:enterButton="")
                a-button(icon="copy") {{ $t('copy') }}
        a-input-search.mb-3(
            :addon-before="$t('subheader.committees')",
            :value="committeeLatestUrl",
            @search="copyToClipboard"
        )
            template(v-slot:enterButton="")
                a-button(icon="copy") {{ $t('copy') }}
</template>

<script lang="ts">
import { Component, Inject, Vue } from "vue-property-decorator";
import instance from "../../utils/axios";
import Flask from "../../utils/flask";
import { Group } from "../../types/group";
import {
    Breadcrumb,
    Button,
    Divider,
    Icon,
    Input,
    Popconfirm,
    Table,
} from "ant-design-vue";
import { newsApi } from "../../scripts/api/news";
import { date } from "../../scripts/formatters";

@Component({
    components: {
        "a-icon": Icon,
        "a-input-search": Input.Search,
        "a-popconfirm": Popconfirm,
        "a-table": Table,
        "a-divider": Divider,
        "a-button": Button,
        "a-breadcrumb": Breadcrumb,
        "a-breadcrumb-item": Breadcrumb.Item,
    },
    methods: { date: date },
})
export default class NewsletterOverview extends Vue {
    @Inject() locale!: string;
    data: Group[] = [];
    loading = true;
    authToken = "";
    columns = [
        {
            title: this.$t("table.date"),
            dataIndex: "date",
            scopedSlots: { customRender: "date" },
        },
        {
            title: this.$t("subheader.activities"),
            dataIndex: "activities",
            colSpan: 2,
            scopedSlots: { customRender: "activities" },
        },
        {
            colSpan: 0,
            scopedSlots: { customRender: "activities_xml" },
        },
        {
            title: this.$t("subheader.news"),
            dataIndex: "news_items",
            colSpan: 2,
            scopedSlots: { customRender: "news" },
        },
        {
            colSpan: 0,
            scopedSlots: { customRender: "news_xml" },
        },
        {
            title: "Action",
            key: "action",
            scopedSlots: { customRender: "action" },
        },
    ];

    async mounted(): Promise<void> {
        await this.refreshListView();
    }

    async refreshListView(): Promise<void> {
        try {
            this.loading = true;
            const resp = await instance.get(Flask.url_for("api.newsletters"));

            this.data = resp.data.entries;
            this.authToken = resp.data.auth_token;
        } finally {
            this.loading = false;
        }
    }

    private activityXmlHref(newsletterId: string) {
        return Flask.url_for("newsletter.activities_xml", {
            newsletter: newsletterId,
            auth_token: this.authToken,
            lang: "en",
        });
    }

    get activityLatestUrl(): string {
        return Flask.url_for("newsletter.activities_xml", {
            auth_token: this.authToken,
            _external: true,
            lang: "en",
        });
    }

    get newsLatestUrl(): string {
        return Flask.url_for("newsletter.news_xml", {
            auth_token: this.authToken,
            _external: true,
            lang: "en",
        });
    }

    get greetingLatestUrl(): string {
        return Flask.url_for("newsletter.greeting_xml", {
            auth_token: this.authToken,
            _external: true,
            lang: "en",
        });
    }

    get committeeLatestUrl(): string {
        return Flask.url_for("newsletter.committees_xml", {
            auth_token: this.authToken,
            _external: true,
        });
    }

    private newsXmlHref(newsletterId: string) {
        return Flask.url_for("newsletter.news_xml", {
            newsletter: newsletterId,
            auth_token: this.authToken,
            lang: "en",
        });
    }

    private async deleteNewsletter(newsletterId: string) {
        try {
            this.loading = true;
            await newsApi.deleteNewsletter(newsletterId);
            await this.refreshListView();
        } finally {
            this.loading = false;
        }
    }

    private copyToClipboard(value) {
        navigator.clipboard.writeText(value);
    }
}
</script>
<i18n src="./newsletter.json"></i18n>
