<!-- <template> cannot (!) be used, AntSchemaForm uses a render function
 embed this component in another to show additional HTML beside this component. -->
<script lang="ts">
import { Component } from "vue-property-decorator";
import { AntSchemaForm } from "../form/AntSchemaForm";
import { challengeApi } from "../../scripts/api/challenge";

@Component
export default class ChallengeAdminSubmissionForm extends AntSchemaForm {
    schemaName = "ChallengeAdminSubmission";

    async save({ user_id }: { user_id: { key: number } }): Promise<void> {
        try {
            const data = (
                await challengeApi.submitChallengeAdmin(
                    parseInt(this.$route.params.challengeId),
                    user_id.key
                )
            ).data;
            this.$emit("save", data);
        } finally {
            this.loading = false;
        }
    }
}
</script>
<i18n src="./ChallengeAdminSubmissionForm.json"></i18n>
