<template lang="pug">
loading-container(:active="loading")
    a-breadcrumb
        a-breadcrumb-item
            router-link(:to="{ name: 'challenge-overview' }") {{ $t('breadcrumb.challenges') }}
        a-breadcrumb-item(v-if="!id") {{ $t('title.create') }}
        a-breadcrumb-item(v-if="id") {{ $t('title.edit') }}
    h1(v-if="!id") {{ $t('title.create') }}
    h1(v-if="id") {{ $t('title.edit') }}

    a-form-model(
        ref="formRef",
        :model="form",
        :rules="formRules",
        @submit.prevent="save"
    )
        a-form-model-item(v-bind="formItemLayout", :label="$t('Name')")
            a-input(v-model="form.name")
        a-form-model-item(v-bind="formItemLayout", :label="$t('Description')")
            a-textarea(v-model="form.description")
        a-form-model-item(v-bind="formItemLayout", :label="$t('Hint')")
            a-input(v-model="form.hint")
        a-form-model-item(v-bind="formItemLayout", :label="$t('Start date')")
            a-date-picker(
                v-model="form.start_date",
                :showTime="{ format: 'HH:mm', defaultValue: moment('00:00', 'HH:mm') }",
                format="YYYY-MM-DD HH:mm"
            )
        a-form-model-item(v-bind="formItemLayout", :label="$t('End date')")
            a-date-picker(
                v-model="form.end_date",
                :showTime="{ format: 'HH:mm', defaultValue: moment('00:00', 'HH:mm') }",
                format="YYYY-MM-DD HH:mm"
            )
        a-form-model-item(v-bind="formItemLayout", :label="$t('Weight')")
            a-input-number(v-model="form.weight", :min="0")
        a-form-model-item(v-bind="formItemLayout", :label="$t('Answer')")
            a-input(v-model="form.answer")

        a-form-model-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
        )
            a-button-group
                router-link(
                    :to="{ name: 'challenge-overview' }",
                    v-slot="{ href, navigate}"
                )
                    a-button(:href="href", @click="navigate")
                        | {{ $t('Back') }}
                a-button(type="primary", html-type="submit") {{ $t('Submit') }}
</template>

<script lang="ts">
import { validateAntForm } from "../../utils/form";
import { Component, Vue } from "vue-property-decorator";
import { WrappedFormUtils } from "ant-design-vue/types/form/form";
import {
    Form,
    DatePicker,
    Input,
    InputNumber,
    Button,
    Breadcrumb,
    notification,
    FormModel,
} from "ant-design-vue";
import { challengeApi } from "../../scripts/api/challenge";
import moment from "moment";
import LoadingContainer from "../loading_container.vue";
import { reactive } from "vue";

@Component({
    components: {
        "a-form-model": FormModel,
        "a-form-model-item": FormModel.Item,
        "a-textarea": Input.TextArea,
        "a-input-number": InputNumber,
        "a-input": Input,
        "a-button": Button,
        "a-button-group": Button.Group,
        "a-date-picker": DatePicker,
        "a-breadcrumb": Breadcrumb,
        "a-breadcrumb-item": Breadcrumb.Item,
        "loading-container": LoadingContainer,
    },
    methods: {
        moment: moment,
    },
})
export default class EditChallenge extends Vue {
    loading = true;
    private form = reactive({
        name: "",
        description: "",
        hint: "",
        start_date: null as moment.Moment | null,
        end_date: null as moment.Moment | null,
        weight: 1,
        answer: "",
    });

    formItemLayout = {
        labelCol: {
            span: 24,
            lg: { span: 4 },
        },
        wrapperCol: {
            span: 24,
            lg: { span: 20 },
        },
    };

    private formRules = reactive({
        name: [
            {
                required: true,
                message: this.$t("Please enter the name") as string,
            },
        ],
        description: [
            {
                required: true,
                message: this.$t("Please enter the description"),
            },
        ],
        start_date: [
            {
                required: true,
                message: this.$t("Please enter the start date"),
            },
        ],
        end_date: [
            {
                required: true,
                message: this.$t("Please enter the end date"),
            },
        ],
        weight: [
            {
                required: true,
                message: this.$t("Please enter the weight"),
            },
        ],
        answer: [
            {
                required: true,
                message: this.$t("Please enter the answer"),
            },
        ],
    });

    async mounted(): Promise<void> {
        if (this.id) {
            const resp = (await challengeApi.getChallenge(this.id)).data;
            this.form.name = resp.name;
            this.form.description = resp.description;
            this.form.hint = resp.hint;
            this.form.start_date = moment(resp.start_date);
            this.form.end_date = moment(resp.end_date);
            this.form.weight = resp.weight;
            this.form.answer = resp.answer;
        }

        this.loading = false;
    }

    get id(): number {
        return parseInt(this.$route.params["challengeId"]);
    }

    private async save() {
        let values;
        try {
            await (this.$refs.formRef as any).validate();
            values = { ...this.form };

            values.start_date = values.start_date.toISOString();
            values.end_date = values.end_date.toISOString();
            values.hint = values.hint || "";
        } catch (e) {
            return; // Form didn't validate
        }
        try {
            this.loading = true;
            if (!this.id) {
                const resp = (await challengeApi.createChallenge(values)).data;
                await this.$router.replace({
                    name: "challenge-edit",
                    params: { challengeId: String(resp.id) },
                });
            } else {
                await challengeApi.updateChallenge(this.id, values);
            }
            notification.success({
                message: this.$t("Success") as string,
                description: this.$t("Challenge successfully saved.") as string,
            });
            await this.$router.push({ name: "challenge-overview" });
        } finally {
            this.loading = false;
        }
    }
}
</script>

<i18n src="./edit_challenge.json"></i18n>
