{% extends "base/nl.html" %}

{% block title -%}
    {{ tutoring.tutor.name }} heeft je bijlesaanvraag voor {{ tutoring.course.name }} geaccepteerd.
{%- endblock %}

{% block content -%}
    <p>
        <b>{{ tutoring.tutor.name }}</b> heeft je bijlesaanvraag voor {{ tutoring.course.name }} geaccepteerd.
    </p>
    <p>
       Je kan contact opnemen met de bijlesdocent door een e-mail te sturen naar <a href="mailto:{{tutoring.tutor.email}}">{{tutoring.tutor.email}}</a>
        of door een bericht te sturen naar {{ tutoring.tutor.phone_nr}}.
    </p>
{%- endblock %}
