<template lang="pug">
a-spin(:spinning="loading")
    h1 {{ $t('Create task') }}

    a-form-model(
        ref="formRef",
        :model="form",
        :rules="formRules",
        :label-col="formItemLayout.labelCol",
        :wrapper-col="formItemLayout.wrapperCol",
        @submit.prevent="save"
    )
        a-form-model-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
        )

        a-form-model-item(prop="title", :label="$t('Name')")
            a-input(v-model="form.title")

        a-form-model-item(prop="content", :label="$t('Content')")
            a-textarea(v-model="form.content", :rows="10")

        a-form-model-item(prop="group_id", :label="$t('Group')")
            a-select(v-model="form.group_id")
                a-select-option(
                    v-for="userGroup in userGroups",
                    :value="userGroup.id",
                    :key="userGroup.id"
                ) {{ userGroup.name }}

        a-form-model-item(prop="users", :label="$t('Users')")
            a-input(v-model="form.users")

        a-form-model-item(prop="status", :label="$t('Status')")
            a-radio-group(v-model="form.status")
                a-radio-button(value="new") {{ $t('Not started') }}
                a-radio-button(value="started") {{ $t('Started') }}
                a-radio-button(value="done") {{ $t('Done') }}
                a-radio-button(value="remove") {{ $t('Not done') }}

        a-form-model-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
        )
            a-button-group
                router-link(
                    :to="{ name: 'pimpy-tasks' }",
                    v-slot="{ href, navigate}"
                )
                    a-button(:href="href", @click="navigate") {{ $t('Back') }}
                    a-button(type="primary", html-type="submit") {{ $t('Submit') }}
</template>

<script lang="ts">
import { reactive } from "vue";
import { validateAntForm } from "../../utils/form";
import { Component, Prop, Vue } from "vue-property-decorator";
import { Groups } from "../../scripts/api/user";
import { pimpyApi } from "../../scripts/api/pimpy";
import moment from "moment";
import LoadingContainer from "../loading_container.vue";
import {
    Button,
    Input,
    Select,
    Spin,
    Radio,
    notification,
    FormModel,
} from "ant-design-vue";

@Component({
    methods: { moment: moment },
    components: {
        "loading-container": LoadingContainer,
        "a-form-model": FormModel,
        "a-spin": Spin,
        "a-form-model-item": FormModel.Item,
        "a-textarea": Input.TextArea,
        "a-input": Input,
        "a-select": Select,
        "a-select-option": Select.Option,
        "a-button": Button,
        "a-button-group": Button.Group,
        "a-radio-group": Radio.Group,
        "a-radio-button": Radio.Button,
    },
})
export default class CreateTask extends Vue {
    @Prop(Array) userGroups: Groups[];
    @Prop() groupId: number | null;
    loading = true;
    errors = [];
    formItemLayout = {
        labelCol: {
            span: 24,
            lg: { span: 4 },
        },
        wrapperCol: {
            span: 24,
            lg: { span: 20 },
        },
    };

    private form: any = reactive({
        title: "",
        content: "",
        group_id: 1,
        users: "",
        status: "new",
    });

    private formRules = {
        title: [
            { required: true, message: this.$t("Please enter task name") },
            {
                max: 256,
                message: "Name must not exceed 256 characters.",
            },
        ],
        content: [{ required: false, message: "" }],
        group_id: [
            { required: true, message: this.$t("Please select a group") },
        ],
        users: [{ required: true, message: this.$t("Please select users") }],
        status: [
            { required: true, message: this.$t("Please select a status") },
        ],
    };

    async mounted() {
        this.form.group_id = this.groupId ? this.groupId : "";
        this.loading = false;
    }

    private async save() {
        let values;
        try {
            await (this.$refs.formRef as any).validate();
            values = { ...this.form };
            values["users"] = values["users"].split(",").map((e) => e.trim());
        } catch (e) {
            console.log(e); // Form didn't validate
            return;
        }
        try {
            this.loading = true;
            const resp = (await pimpyApi.createTask(values)).data;
            await notification.success({
                message: this.$t("Success") as string,
                description: this.$t("Task succesfully created.") as string,
            });
            this.$router.push({
                name: "pimpy-tasks",
                params: { groupId: String(resp["group_id"]) },
            });
        } finally {
            this.loading = false;
        }
    }
}
</script>

<i18n src="./create_task.json"></i18n>
