<template lang="pug">
.relative
    a-button.float-right(
        v-if="!isFieldLoading && editField !== ''",
        @click="unfocusField()",
        type="primary"
    ) {{ $t('Save changes') }}
    a-button.float-right(type="primary", disabled, v-if="isFieldLoading") {{ $t('Updating') }}
    dl
        dt(@click="focusField('title')") {{ $t('Task') }}
        dd(v-show="!isEditable('title')", @click="focusField('title')")
            span {{ value.title }}
            a-icon(type="edit")
        input(
            ref="title",
            v-show="isEditable('title')",
            @blur="unfocusField()",
            @keyup.enter="unfocusField()",
            @keydown.ctrl.enter.prevent.stop="unfocusField()",
            v-model="editValues.title"
        )

        dt(@click="focusField('users')") {{ $t('Users') }}
        dd(v-show="!isEditable('users')", @click="focusField('users')")
            span {{ value.users.join(', ') }}
            a-icon(type="edit")
        a-select(
            ref="users",
            v-show="isEditable('users')",
            v-model:value="editUsers",
            mode="multiple",
            show-search,
            allow-clear,
            :placeholder="$t('Select at least 1 user')",
            :not-found-content="isFetchingSearch ? undefined : null",
            :options="searchResults",
            @search="onGroupType",
            @select="searchResults = []",
            @deselect="searchResults = []",
            @blur="unfocusField",
            bordered,
            style="width: 100%",
            :class="{ error: editUsers.length === 0 }"
        )
            template(v-slot:notFoundContent="", v-if="isFetchingSearch")
                a-spin

        dt(@click="focusField('content')") {{ $t('Content') }}
        dd(v-show="!isEditable('content')", @click="focusField('content')")
            span {{ value.content }}
            a-icon(type="edit")
        textarea(
            ref="content",
            v-if="isEditable('content')",
            @blur="unfocusField()",
            @keydown.ctrl.enter.prevent.stop="unfocusField()",
            v-model="editValues.content",
            rows="6"
        )

        dt {{ $t('Created') }}
        dd {{ date(value.created) }}

        a-button.notulen(
            type="secondary",
            v-if="value.minute_id",
            @click=`() => {
                    this.$router.push({ name: 'pimpy-minute-single', params: { minuteId: value.minute_id, line: value.line } })
                }`
        )
            span {{ $t('View minute') }}
</template>

<style lang="sass" scoped>
.relative
    position: relative

input
    width: 100%

span, input
    white-space: pre-wrap

i
    margin-left: 1em

.error
    border: 3px #da291c solid
    border-radius: 4px

textarea
    resize: none
    width: 90%

.dropdown-item
    cursor: pointer

.notulen
    position: absolute
    right: 1em
    bottom: 0.5em
</style>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { pimpyApi, Task } from "../../scripts/api/pimpy";
import {
    Button,
    Collapse,
    Icon,
    notification,
    Select,
    Spin,
} from "ant-design-vue";
import debounce from "../../utils/debounce";
import { groupApi } from "../../scripts/api/group";
import { date } from "../../scripts/formatters";

interface PimpyTaskEditableValues {
    title: string;
    content: string;
}

@Component({
    name: "pimpy-task",
    components: {
        "a-collapse-panel": Collapse.Panel,
        "a-icon": Icon,
        "a-button": Button,
        "a-select": Select,
        "a-spin": Spin,
    },
    methods: { date: date },
})
export default class PimpyTask extends Vue {
    @Prop() value: Task;

    private isFieldLoading = false;
    private isFetchingSearch = false;

    private searchID = 0;

    private searchResults = [] as { value: string; label: string }[];

    private editField = "";
    private editValues: PimpyTaskEditableValues;
    // editUsers is not in the above object, because vue reactivity doesn't work
    // with this searchbar and nested objects
    private editUsers: string[] = [];

    public created() {
        this.editUsers = this.value.users;
        this.editValues = {
            title: this.value.title,
            content: this.value.content,
        };
    }

    public isEditable(fieldName) {
        return this.editField === fieldName;
    }

    onGroupType = debounce(this.fetchGroupResults, 300);

    public async fetchGroupResults(search: string) {
        this.isFetchingSearch = true;
        this.searchResults = [];
        const fetchID = ++this.searchID;

        const results = await groupApi.getGroupUsers(
            this.value.group_id.toString(),
            search,
            1
        );

        if (fetchID !== this.searchID) {
            return;
        }

        this.searchResults = results.data.data
            .map(({ first_name, last_name }) => {
                const fullName = `${first_name} ${last_name}`;
                return { value: fullName, label: fullName };
            })
            .filter(
                (x) =>
                    -1 ===
                    this.editUsers.findIndex(
                        (y) => y.toLowerCase() === x.value.toLowerCase()
                    )
            );

        this.isFetchingSearch = false;
    }

    public focusField(fieldName) {
        this.editField = fieldName;
        // Focus on nexttick, because the element needs to be rendered first
        this.$nextTick(() =>
            (this.$refs[fieldName] as HTMLInputElement)?.focus()
        );
    }

    public async unfocusField() {
        const requestJson = {};
        if (this.editField === "users") {
            requestJson["users"] = this.editUsers;

            if (this.editUsers.length === 0) {
                notification.error({
                    message: this.$t("Not enough users for task").toString(),
                    description: this.$t(
                        "Please provide at least 1 user"
                    ).toString(),
                });
                this.focusField("users");
                return;
            }
        } else {
            requestJson[this.editField] = this.editValues[this.editField];
        }

        try {
            this.isFieldLoading = true;
            const resp = (
                await pimpyApi.updateTask(this.value.b32_id, requestJson)
            ).data;
            this.$emit("change", resp);
        } finally {
            // TODO: This loading completes (almost) instantly, because via server is fast, which is very jittery in the UI
            this.isFieldLoading = false;
        }

        this.editField = "";
    }
}
</script>

<i18n src="./pimpy_tasks.json"></i18n>
