<template lang="pug">
a-spin(:spinning="loading")
    h1 {{ $t('Minute') }}
    h3 {{ group.name }} ({{ date(minute.date) }})
    a(:href="minuteRawUrl", target="_blank") {{ $t('View plaintext') }}
    .pimpy_minute_styled
        a(
            :ref="`line`",
            v-for="(lineContent, idx) in minuteContent",
            :class="{ selected_line: idx === line }"
        )
            span.pimpy_line_number {{ idx }}
            span {{ lineContent.trim() || '&nbsp;' }}
</template>

<script lang="ts">
import { Collapse, Empty, Spin } from "ant-design-vue";
import { Groups } from "../../scripts/api/user";
import { Component, Prop, Vue, Watch } from "vue-property-decorator";
import { Minute, pimpyApi } from "../../scripts/api/pimpy";
import Flask from "../../utils/flask";
import { date } from "../../scripts/formatters";

@Component({
    components: {
        "a-spin": Spin,
        "a-empty": Empty,
        "a-collapse": Collapse,
        "a-collapse-panel": Collapse.Panel,
    },
    methods: { date: date },
})
export default class PimpySingleMinute extends Vue {
    @Prop(Array) userGroups: Groups[];
    minute: Minute = { content: "", date: "", group_id: -1 };
    loading = true;

    get minuteId() {
        return parseInt(this.$route.params.minuteId);
    }

    get line() {
        return parseInt(this.$route.params.line) || null;
    }

    async mounted() {
        await this.load();
        if (this.line && this.$refs.line) {
            window.scroll(0, this.$refs.line[this.line].offsetTop);
        }
    }

    @Watch("groupId")
    async load() {
        this.loading = true;
        this.minute = (await pimpyApi.getMinute(this.minuteId)).data;
        this.loading = false;
    }

    get minuteRawUrl() {
        return Flask.url_for("pimpy.view_minute_raw", {
            minute: this.minuteId,
        });
    }

    get minuteContent() {
        return this.minute.content.split(/\r?\n/);
    }

    get group() {
        for (const userGroup of this.userGroups) {
            if (userGroup.id == this.minute.group_id) {
                return userGroup;
            }
        }
        return "";
    }
}
</script>

<i18n src="./pimpy_single_minute.json"></i18n>
