<!-- <template> cannot (!) be used, AntSchemaForm uses a render function
 embed this component in another to show additional HTML beside this component. -->
<script lang="ts">
import { Component } from "vue-property-decorator";
import { AntSchemaForm } from "../form/AntSchemaForm";
import { bugApi, BugRequest } from "../../scripts/api/bug";

@Component
export default class BugReportForm extends AntSchemaForm {
    schemaName = "BugReportRequest";

    async save(r: BugRequest): Promise<void> {
        try {
            const data = (await bugApi.createBug(r)).data;
            this.$emit("issue", data);
            this.form?.resetFields();
        } finally {
            this.loading = false;
        }
    }
}
</script>
<i18n src="./BugReportForm.json"></i18n>
