{% extends "base.htm" %}

{% from "macros/pagination.htm" import render_pagination %}
{% from "macros/form.htm" import render_form %}

{% block title %}{{ _('Files') }}{% endblock %}

{% block includes %}
{%- if new_files is defined -%}
    <script>
        function copyToClipboard(id) {
            let text = document.getElementById(id);
            text.select();
            text.setSelectionRange(0, 99999);
            document.execCommand("copy");
        };
    </script>
{%- endif -%}
{% endblock %}

{% block page %}
<div class="alert alert-warning">
    For files over 1MB, please use the <a href="https://stack.svia.nl/login" class="font-weight-bold">via-stack</a>.
</div>

{%- if can_write -%}
        {%- if new_files is defined -%}
        <div class="card mb-3">
            <h5 class="card-header">{{_('Uploaded files')}}</h5>
            <div class="card-body">
            {% for index, new_file in enumerate(new_files) %}
            <div class="row">
                <div class="col-md-12">
                    <b>{{ _('Filename') }}:</b>
                    <p style="font-family: monospace; display: inline; margin-left: 10px">
                        {{ new_file.full_display_name }}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <b>{{ _('Link to file') }}:</b>
                    <div class="input-group" style="padding-bottom: 5px">
                        <input id="file-{{ index }}"
                        class="form-control url-copy-textbox" type="text" value="{{ url_for('file.content', file=new_file, file_hash=new_file.hash, _external=True) }}" readonly/>
                        <div class="input-group-append">
                            <button class="btn btn-primary"
                                title="{{ _('Link copied') }}"
                                id="url-copy-btn-{{ index }}"
                                onclick="copyToClipboard('file-{{ index }}')">
                                <i class="fas fa-clipboard"></i> {{ _('Copy to clipboard') }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            </div>
        </div>
        {%- endif -%}
        <div class="card mb-3">
            <h5 class="card-header">{{ _('Upload file') }}</h5>
            <div class="card-body">
                {{ render_form(form, submit_text=_('Upload')) }}
            </div>
        </div>
{%- endif -%}


<div class="card">
    <h5 class="card-header">{{ _('Files') }}</h5>
    <div class="card-body">
        <form class="form" action="{{ url_for('file.list') }}" method="GET">
            <div class="form-group">
                <label>{{ _('Search') }}</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="search" {% if search %}value="{{ search }}"{% endif %}/><br/>
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            </form>

        <table class="table">
            <thead>
                <tr>
                    <th>{{ _('Filename') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for file in files %}
                    <tr>
                        <td>
                            <a href="{{ url_for('file.content', file=file, file_hash=file.hash) }}" target="_blank">{{ file.full_display_name }}</a>
                        </td>
                        <td>
                            {% if file.require_membership %}Members only{% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if files_paginated %}
            {{ render_pagination(files_paginated, 'file.list') }}
        {% endif %}
    </div>
</div>

{% endblock %}
