{% from "macros/form.htm" import render_form %}

{% extends "base.htm" %}
{% block title %}{{ _('Log in') }}{% endblock %}

{% block page %}
<legend>{{_('Two-factor authentication')}}</legend>

<div class="row justify-content-center" >
    <div class="col-md-3 text-center" style="background-color: #f0f0f0; padding: 1em 1em 0 1em">
    {{ _('Enter the code provided by your authenticator application.') }}
    {{ render_form(form, url_for('login.sign_in_otp'),
                    submit_text='Log in', autocomplete="off") }}

        <span style="font-size: small; font-style: italic; color: gray">
            {{_('Please contact the board if you have lost your authentication key.')}}
        </span>
    </div>


</div>

{% endblock %}
