<template lang="pug">
div
    legend.mb-0 {{ $t('Email subscriptions') }}
    i18n(path="description", tag="p")
        template(v-slot:via="")
            strong Via

    a-list(:data-source="mailingLists", :loading="loading")
        template(v-slot:renderItem="item")
            a-list-item
                template(v-slot:actions="")
                    a-tooltip(
                        :title="item.members_only && !member && !item.subscribed ? $t('Requires membership.') : ''"
                    )
                        a-switch(
                            @change="(checked) => setMailingListSubscribed(item, checked)",
                            :default-checked="item.subscribed",
                            :checked-children="$t('Subscribed')",
                            :un-checked-children="$t('Unsubscribed')",
                            :disabled="item.members_only && !member && !item.subscribed"
                        )
                a-list-item-meta(:description="item[locale + '_description']")
                    template(v-slot:avatar="")
                        a-avatar(src="/static/img/favicon-192x192.png")
                    template(v-slot:title="")
                        b {{ name(item) }}
                        small.ml-1(v-if="item.members_only") {{ $t('Requires membership.') }}
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Inject } from "vue-property-decorator";
import { MailingList } from "../../types/mailinglists";
import { userApi } from "../../scripts/api/user";
import { checkPollTask } from "../../scripts/tasks";
import {
    Avatar,
    Icon,
    List,
    Tooltip,
    Switch,
    notification,
} from "ant-design-vue";
import { authStore } from "../../store/auth";

@Component({
    name: "mailing-lists-subscription-selector-profile",
    components: {
        "a-avatar": Avatar,
        "a-icon": Icon,
        "a-switch": Switch,
        "a-tooltip": Tooltip,
        "a-list": List,
        "a-list-item": List.Item,
        "a-list-item-meta": List.Item.Meta,
    },
})
export default class MailingListsSubscriptionSelectorProfile extends Vue {
    @Inject() locale!: string;
    private mailingLists: MailingList[] = [];
    loading = true;

    get member() {
        return authStore.member;
    }

    private async created() {
        await this.updateMailingLists();
    }

    private get userId(): number | null {
        if (this.$route.params["userId"] === "self") {
            // "self" route
            return null;
        }
        return Number(this.$route.params["userId"]);
    }

    private async updateMailingLists() {
        try {
            const resp = await userApi.getUserMailingListSubscriptions(
                this.userId
            );
            this.mailingLists = resp.data;
        } finally {
            this.loading = false;
        }
    }

    private name(mailingList: MailingList): string {
        if (this.locale == "nl") return mailingList.nl_name;
        else return mailingList.en_name;
    }

    private async setMailingListSubscribed(
        mailingList: MailingList,
        subscribed: boolean
    ) {
        const resp = await userApi.setUserMailingListSubscribed(
            this.userId,
            mailingList,
            subscribed
        );
        await checkPollTask(resp.data["task_id"]);
        notification.success({
            message: "Success",
            description: this.$t(
                subscribed
                    ? "notification.subscribed"
                    : "notification.unsubscribed",
                { listName: this.name(mailingList) }
            ) as string,
        });
    }
}
</script>

<i18n src="./subscription_selector_profile.json"></i18n>
