{% extends "content.htm" %}

{% from "macros/form.htm" import render_field, render_field_disabled, render_checkbox, render_submit %}

{% block og_image %}
    <meta property="og:image"
          content="{{ view_model.thumbnail_url }}"/>
    <meta property="og:image:alt" content="Activity thumbnail"/>
    <meta property="og:image:type" content="image/png"/>
{% endblock %}

{% block includes %}
    <script type="application/ld+json">{{ view_model.json_ld_object | safe }}</script>
{% endblock %}

{% block post_main_include %}
    {% if view_model.is_pretix_event() %}
        <link rel="stylesheet" type="text/css" href="{{ view_model.pretix_widget_url }}/widget/v1.css">
        <script type="text/javascript" src="https://pretix.svia.nl/widget/v1.{{ get_locale() }}.js" async></script>
        <script type="text/javascript">
            window.pretixWidgetCallback = function() {
                window.PretixWidget.addCloseListener(function() {
                    window.location.reload();
                });
            };
        </script>
    {% endif %}
{% endblock %}


{% block title %}{{ view_model.title }}{% endblock %}

{% block content %}
    {# Activity name and relative time #}
    <div class="pb-2 mt-4 mb-2 border-bottom">
        {% if view_model.can_write %}
            <div class="btn btn-warning dropdown-toggle float-right" data-toggle="dropdown">
                <i class="far fa-edit"></i>
                {{ _('Options') }}
            </div>

            <div class="dropdown-menu">
                <a href="{{ url_for('activity.edit', activity=view_model.activity) }}"
                   class="dropdown-item"
                >
                    <i class="far fa-edit"></i>
                    {{ _('Edit') }}
                </a>
                <a href="{{ url_for('activity.create_pretix', based_on=view_model.activity.id) }}"
                   class="dropdown-item"
                >
                    <i class="far fa-copy"></i>
                    {{ _('Duplicate') }}
                </a>
                <button data-toggle="modal"
                        data-target="#deleteModal"
                        class="dropdown-item text-danger"
                >
                    <i class="far fa-trash-can"></i>
                    {{ _('Delete') }}
                </button>

            </div>
        {% endif %}

        <h1>{{ view_model.title }}</h1>
        <small> {{ view_model.relative_time }}</small>
    </div>

    {# Confirm modal for activity delete. #}
    {% if view_model.can_write %}
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">{{ _('Are you sure?') }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="{{ url_for('activity.remove_activity', activity=view_model.activity) }}">
                            <button type="submit" class="btn btn-danger">{{ _('Yes') }}</button>
                            <button data-dismiss="modal" class="btn btn-secondary">{{ _('No') }}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        {# Activity price, time, location, picture, description #}
        {# full column width if there is no activity picture, otherwise do a 8/4 split. #}
        <div class="{% if view_model.has_picture %}col-md-8{% else %}col-md-12{% endif %} col-xs-12">
            <div class="time">
                <i class="far fa-calendar-alt"></i> {{ view_model.formatted_time }}
            </div>

            {% if view_model.location %}
                <div class="location">
                    <i class="fas fa-map-marker"></i>
                    {% if view_model.location_is_url %}
                        <a href="{{ view_model.location }}" target="_blank" rel="noopener">
                            {{ view_model.location_name }}
                        </a>
                    {% else %}
                        <span>{{ view_model.location_name }}</span>
                    {% endif %}
                </div>
            {% endif %}
            <p>
                <b>{{ view_model.formatted_price }}</b>
            </p>

            <hr class="activity-short-hr">

            <p>{{ view_model.description | markdown }}</p>
        </div>

        {# Activity picture #}
        {% if view_model.has_picture %}
            <div class="col-md-4 col-xs-12">
                <a class="activity-picture-link"
                   href="{{ view_model.picture_url }}">
                    <img class="activity-picture"
                         src="{{ view_model.thumbnail_url }}">
                </a>
                <br>
            </div>
        {% endif %}
    </div>
    <hr class="activity-short-hr">
    {% if view_model.user_registration_state == "login" %}
        <p>{{ _('You must be logged-in to register for an activity.') }}</p>
        <a href="{{ url_for('login.sign_in', next=url_for('activity.get_activity', activity=view_model.activity)) }}">
            {{ _('Sign in') }}
        </a>
    {% elif view_model.user_registration_state == "testmode" %}
        <p class="alert alert-warning">
            {{ _('You are not able view the shop, as it is still in test mode. Please come back at a later moment.') }}
        </p>
    {% elif view_model.user_registration_state == "favourer_disallowed" %}
        <p class="alert alert-info">
            {{ _('You are not able to register for this event, as favourers (Vriend van VIA) are not invited to this event.') }}
        </p>
    {% elif view_model.user_registration_state == "membership" %}
        <p class="alert alert-info">
            {{ _('You need to have valid membership to register for this activity. For more information, visit the <a href="/lidmaatschap">membership page</a>') }}.
        </p>
    {% elif view_model.user_registration_state == "register" %}
        {% if view_model.pretix_user_order_url %}
            <div class="alert alert-info">
                {{ _("You already have an order for this event. You can view it ") }}
                <a href="{{ view_model.pretix_user_order_url }}" target="_blank">{{ _("here") }}</a>
            </div>
        {% else %}
            <pretix-widget
                    event="{{ view_model.pretix_widget_url }}"
                    {{ view_model.skip_ssl_check }}
                    data-user-info-url="{{ view_model.pretix_user_info_url }}"
            ></pretix-widget>
        {% endif %}
    {% endif %}
{% endblock %}
