<template lang="pug">
div
    h1(v-if="!companyBannerId") Create company banner
    h1(v-if="companyBannerId") Edit banner

    // TODO add buttons for set dates to
    .row
        a-form(:form="form", @submit.prevent="save")
            .col-md-6
                a-form-item(v-bind="formItemLayout", label="Contract date")
                    a-range-picker(
                        v-decorator="['jobDate', {rules: [{ type: 'array', required: true, message: 'Please date range!' }]}]",
                        :ranges="ranges"
                    )
                a-form-item(v-bind="formItemLayout", label="Website")
                    a-input(
                        v-decorator="['website', { rules: [{ required: true, message: 'Please enter the website.' }, {validator: urlValidation}] }]"
                    )
                a-form-item(
                    :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 8 } } }"
                )
                    a-checkbox(
                        v-decorator="['enabled',  {valuePropName: 'checked', initialValue: false}]"
                    ) Enabled
                a-form-item(
                    :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 8 } } }"
                )
                    a-button-group
                        router-link(
                            :to="$route.meta.from || { name: 'edit-company', params: { companyId: companyId } }",
                            v-slot="{ href, navigate}"
                        )
                            a-button(:href="href", @click="navigate")
                                | Back
                        a-button(type="primary", html-type="submit") Submit
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import moment from "moment";
import { urlValidation, validateAntForm } from "../../utils/form";
import { WrappedFormUtils } from "ant-design-vue/types/form/form";
import { companyApi } from "../../scripts/api/company";
import {
    Button,
    Checkbox,
    DatePicker,
    Form,
    Input,
    notification,
} from "ant-design-vue";

@Component({
    methods: {
        urlValidation: urlValidation,
    },
    components: {
        "a-form": Form,
        "a-form-item": Form.Item,
        "a-range-picker": DatePicker.RangePicker,
        "a-input": Input,
        "a-checkbox": Checkbox,
        "a-button-group": Button.Group,
        "a-button": Button,
    },
})
export default class EditCompanyBannerForm extends Vue {
    private loading = false;
    private form: WrappedFormUtils | null = null;
    private companyBannerId: number | null = null;

    private formItemLayout = {
        labelCol: {
            xs: { span: 24 },
            sm: { span: 8 },
        },
        wrapperCol: {
            xs: { span: 24 },
            sm: { span: 16 },
        },
    };

    private ranges = {
        "Set to 1 year": [moment(), moment().add(moment.duration(1, "years"))],
    };

    created() {
        this.form = this.$form.createForm(this);
    }

    async mounted() {
        try {
            const resp = await companyApi.getCompanyBanner(this.companyId);
            const fields: any = resp.data;
            fields["jobDate"] = [
                moment(fields.start_date),
                moment(fields.end_date),
            ];
            delete fields.start_date;
            delete fields.end_date;
            this.form!.setFieldsValue(fields);
            this.companyBannerId = resp.data.id;

            const companyData = await companyApi.getCompany(this.companyId);
            this.ranges["Set to contract"] = [
                moment(companyData.data.contract_start_date),
                moment(companyData.data.contract_end_date),
            ];
        } catch (e) {
            if (e.response.status !== 404) {
                throw e;
            }
        }
    }

    private async save() {
        if (this.loading) return;

        let values;
        try {
            values = await validateAntForm(this.form!);
            values["start_date"] = values["jobDate"][0].format("YYYY-MM-DD");
            values["end_date"] = values["jobDate"][1].format("YYYY-MM-DD");
            delete values["jobDate"];
        } catch (e) {
            // Form didn't validate
            return;
        }

        try {
            this.loading = true;

            if (this.companyBannerId) {
                await companyApi.updateCompanyBanner(this.companyId, values);
            } else {
                const resp = await companyApi.setCompanyBanner(
                    this.companyId,
                    values
                );
                this.companyBannerId = resp.data.id;
            }
            notification.success({
                message: "Success",
                description: "Company banner saved successfully.",
            });
        } finally {
            this.loading = false;
        }
    }

    get companyId(): number {
        return parseInt(this.$route.params["companyId"]);
    }
}
</script>
