<template lang="pug">
    div
        a-row.vote-text
            span {{ $t('Voting proposal: ') }}
            span.vote-title {{ filterLatexSymbols(vote.title) }}
        a-row.vote-entry(v-for="(votes, option, idx) of vote.vote_data", :key="option")
            a-col.option(:xs="6", :sm="6", :md="4") {{ option }}
            a-col.percentage(
                :style="getVoteStyle(option, idx, votes)",
                :xs="14", :sm="14", :md="8",
                :class="getPercentageClass(votes)"
            )
            a-col.vote-number(:xs="4", :sm="4", :md="4") {{ votes }}
</template>

<style lang="sass" scoped>
.option
    line-height: 1em

.vote-number
    line-height: 1em
    padding-left: 0.5em

.vote-title
    font-style: italic

.vote-text
    margin-bottom: 0.5em

.percentage
    height: 20px
    margin-bottom: 0.5em

    &:before
        content: ""
        position: absolute
        z-index: 1
        top: -0.6em
        height: calc(100% + 0.85em)
        left: 50%
        border-left: 1px solid #827e7e

    &:after
        content: ""
        display: block
        height: 100%
        position: relative
        top: 50%
        transform: translateY(-50%)
        transition: background-color .3s ease
        cursor: pointer
        // CSS vars are used because Vue cannot change ':after' css.
        background-color: var(--bgColor)
        border: var(--border)

    &:hover,
    &:focus
        &:after
            background-color: #aaa

@for $i from 0 through 100
    .percentage-#{$i}
        &:after
            $value: ($i * 1%)
            width: $value
</style>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Col, Row } from "ant-design-vue";
import { filterLatexSymbols } from "../../utils/latex";

type Vote = {
    title: string;
    vote_data: { [key: string]: number };
};

const COLORS = [
    "#3D9970",
    "#C72D4C",
    "#FF9800",
    "#990099",
    "#0099c6",
    "#dd4477",
    "#66aa00",
    "#b82e2e",
    "#316395",
];

const UNCOUNTED_VOTES = ["onthouden", "onthouding", "ongeldig"];

@Component({
    components: {
        "a-row": Row,
        "a-col": Col,
    },
})
export default class AlvDetailsVote extends Vue {
    @Prop({ required: true })
    vote: Vote;
    filterLatexSymbols = filterLatexSymbols;

    get totalVotes(): number {
        let total = 0;
        Object.keys(this.vote.vote_data).forEach((option) => {
            if (UNCOUNTED_VOTES.indexOf(this.cleanVoteOption(option)) === -1) {
                // "Onthouden" etc. votes do not count in the total votes.
                total += this.vote.vote_data[option];
            }
        });

        return total;
    }

    private getVoteStyle(option: string, index = 0, votes = 0) {
        option = this.cleanVoteOption(option);

        let color = COLORS[index % COLORS.length];
        let border = "";

        if (option === "voor") {
            color = COLORS[0];
        } else if (option === "tegen") {
            color = COLORS[1];
        } else if (option === "blanco") {
            color = "white";
            if (votes > 0) {
                border = "2px solid #dcdcdc";
            }
        } else if (UNCOUNTED_VOTES.indexOf(option) !== -1) {
            color = "#dcdcdc";
        }

        return {
            "--bgColor": color,
            "--border": border,
        };
    }

    private cleanVoteOption(option: string): string {
        return option.toLowerCase().split(" ")[0];
    }

    private getPercentageClass(n: number) {
        return ["percentage-" + Math.round((n / this.totalVotes) * 100)];
    }
}
</script>

<i18n src="./alv.json"></i18n>
