<template lang="pug">
a-form-model(
    ref="formRef",
    :model="form",
    :rules="formRules",
    :label-col="formItemLayout.labelCol",
    :wrapper-col="formItemLayout.wrapperCol",
    @submit.prevent="save"
)
    a-form-model-item(prop="nl_name", :label="$t('Dutch name')")
        a-input(v-model="form.nl_name")

    a-form-model-item(prop="en_name", :label="$t('English name')")
        a-input(v-model="form.en_name")
    a-form-model-item(prop="date", :label="$t('Date')")
        a-date-picker(v-model="form.date")
    a-form-model-item(prop="activity", :label="$t('Activity')")
        form-activity-field(v-model="form.activity")

    a-form-model-item(prop="chairman", :label="$t('Chairman')")
        form-user-field(v-model="form.chairman")

    a-form-model-item(prop="secretary", :label="$t('Secretary')")
        form-user-field(v-model="form.secretary")

    a-form-model-item(
        :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
    )
        a-button-group
            a-button(type="primary", html-type="submit", :loading="submitting") {{ $t('Save') }}
</template>

<script lang="ts">
import { reactive } from "vue";
import { Component, Emit, Prop, Vue } from "vue-property-decorator";
import FormActivityField from "../form/form_activity_field.vue";
import FormUserField from "../form/form_user_field.vue";
import { alvApi, AlvRequest, AlvResponse } from "../../scripts/api/alv";
import moment from "moment";
import {
    Breadcrumb,
    Button,
    DatePicker,
    FormModel,
    Input,
    notification,
} from "ant-design-vue";

@Component({
    components: {
        "a-form-model": FormModel,
        "a-form-model-item": FormModel.Item,
        "a-input": Input,
        "a-date-picker": DatePicker,
        "a-button": Button,
        "a-button-group": Button.Group,
        "form-activity-field": FormActivityField,
        "form-user-field": FormUserField,
        "a-breadcrumb": Breadcrumb,
    },
})
export default class EditALVDetails extends Vue {
    @Prop() alv?: AlvResponse;

    form: any = reactive({
        nl_name: "",
        en_name: "",
        date: "",
        activity: undefined,
        chairman: undefined,
        secretary: undefined,
    });
    formRules = {
        nl_name: [
            { required: true, message: this.$t("Please enter the dutch name") },
        ],
        en_name: [
            {
                required: true,
                message: this.$t("Please enter the english name"),
            },
        ],
        date: [{ required: true, message: this.$t("Please enter the date") }],
    };

    formItemLayout = {
        labelCol: {
            span: 24,
            lg: { span: 4 },
        },
        wrapperCol: {
            span: 24,
            lg: { span: 20 },
        },
    };

    submitting = false;

    alvResponse?: AlvResponse;

    setFormData() {
        if (!this.alv) {
            return;
        }

        this.form.nl_name = this.alv.name.nl;
        this.form.en_name = this.alv.name.en;
        this.form.date = moment(this.alv.date);
        this.form.activity = this.alv.activity;
        this.form.chairman = this.alv.chairman
            ? {
                  key: this.alv.chairman.id,
                  label: `${this.alv.chairman.first_name} ${this.alv.chairman.last_name}`,
              }
            : undefined;
        this.form.secretary = this.alv.secretary
            ? {
                  key: this.alv.secretary.id,
                  label: `${this.alv.secretary.first_name} ${this.alv.secretary.last_name}`,
              }
            : undefined;
    }

    async mounted() {
        this.setFormData();
    }

    @Emit("alv-loaded")
    private async save() {
        try {
            await (this.$refs.formRef as any).validate();
        } catch (e) {
            // Form didn't validate
            console.log(e);
            return null;
        }
        const body: AlvRequest = {
            activity_id: this.form["activity"]?.id,
            chairman_user_id: this.form["chairman"]?.key,
            secretary_user_id: this.form["secretary"]?.key,
            name: {
                nl: this.form["nl_name"],
                en: this.form["en_name"],
            },
            date: this.form["date"].format("YYYY-MM-DD"),
            minutes_accepted: this.alvResponse?.minutes_accepted,
        };

        let data: AlvResponse | null = null;
        try {
            this.submitting = true;

            const resp = this.alv?.id
                ? await alvApi.updateAlv(this.alv.id, body)
                : await alvApi.createAlv(body);

            data = resp.data;

            notification.success({
                message: this.$t("Success") as string,
                description: this.$t(
                    "General assembly successfully saved."
                ) as string,
            });
            // We do not change this component's this.alv, we leave that up
            // to the components that listen to 'alv-loaded'.
            return data;
        } finally {
            this.submitting = false;
        }
    }
}
</script>

<i18n src="./alv.json"></i18n>
