<template lang="pug">
div
    render-page(pageUrl="ereleden")
    hr

    a-row(:gutter="[16, 16]")
        a-col(:sm="24", :md="12", v-for="user in data", :key="user.id")
            member-of-merit(:user="user")
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { MemberOfMerit, userApi } from "../../scripts/api/user";
import RenderPage from "../page/render_page.vue";
import MemberOfMeritComponent from "../user/MemberOfMerit.vue";
import { Col, Row } from "ant-design-vue";

@Component({
    name: "user-overview",
    components: {
        "render-page": RenderPage,
        "member-of-merit": MemberOfMeritComponent,
        "a-row": Row,
        "a-col": Col,
    },
})
export default class MembersOfMerit extends Vue {
    private data: MemberOfMerit[] = [];
    private loading = true;

    async created() {
        await this.refreshListView();
    }

    async refreshListView() {
        this.loading = true;
        try {
            this.data = (await userApi.getMembersofMerit()).data;
        } finally {
            this.loading = false;
        }
    }
}
</script>
