<template lang="pug">
.tfa-container
    h1 {{ $t('two_factor_auth') }}
    .alert.alert-success(v-if="successMessage !== ''")
        | {{ successMessage }}
    .alert.alert-danger(v-if="errorMessage !== ''")
        | {{ errorMessage }}
    div(v-if="tfaEnabled")
        p
        | {{ $t('tfa_enabled') }}
        br
        | {{ $t('tfa_can_disable') }}
    .row.disabling-tfa(v-if="tfaEnabled && !disablingTfa")
        .form-inline
            .form-group.mb-2
                a#disable-button.btn.btn-warning(@click="disablingTfa = true")
                    i.fas.fa-times
                    | {{ $t('tfa_disable') }}
            .form-group.mx-sm-3.mb-2
                small.form-text.text-muted {{ $t('tfa_disable_not_recommended') }}

    .row.disabling-tfa(v-else-if="tfaEnabled && disablingTfa")
        .form-inline
            label.my-1.mr-2(for="disable-otp") {{ $t('tfa_enter_code') }}
            input#disable-otp.form-control.my-1.mr-sm-2(
                type="text",
                v-model="oneTimePasswordDisable"
            )
            a.my-1.mr-sm-2.btn.btn-warning(@click="disableTfa")
                i.fas.fa-times
                    |
                    | {{ $t('tfa_disable') }}
            .disable-hint.form-group.mx-sm-3.mb-2
                small.form-text.text-muted
                    | {{ $t('tfa_no_tfa_insecure') }}

    .qr-container(v-if="!tfaEnabled")
        .row
            .col-md-12
                | Take these steps to enable two-factor authentication and make your account more secure.
        .row.row-eq-height.qr-wrapper
            .col-xl-4.col-lg-12
                canvas#qr(
                    ref="qrElement",
                    :style="{ filter: qrBlur }",
                    @click="onClickQrCode"
                )
            .col-xl-8.col-lg-12.hints
                p.row 1. Install an authenticator app on your phone such as Google Authenticator.
                p.row 2. Click the QR code to sharpen it.
                p.row 3. Scan the QR code.
                p.row 4. Enter the code provided by the app.
        .row
            label.col-md-4 Enter the provided code here
            input.form-control(
                type="text",
                v-model="oneTimePassword",
                :disabled="otpVerifyDisabled",
                @change="onEnterOtp",
                @keyup="onEnterOtp"
            )
</template>

<style lang="sass" scoped>
#qr
    width: 250px
    height: 250px
    image-rendering: crisp-edges

.qr-wrapper
    text-align: center

.hints
    padding: 1em
    margin: auto 0 auto 0

    p
        padding-left: 1em

.disable-hint
    margin-left: 0 !important

.tfa-container
    padding-bottom: 1em

.disabling-tfa
    padding-left: 1em
</style>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";
import Flask from "../../utils/flask";
import instance from "../../utils/axios";

import QRious from "qrious";

@Component
export default class TwoFactorAuthentication extends Vue {
    private tfaEnabled = false;

    private errorMessage = "";
    private successMessage = "";

    private qrBlur = "blur(4px)";

    // OTP input disabled before clicking the QR code
    private otpVerifyDisabled = true;

    // Secret the server gives us when enabling TFA
    private totpSecret: string | null = null;
    private uri: string | null = null;

    // Filled when entering OTP to verify and enable TFA
    private oneTimePassword = "";

    // Filled when entering OTP to verify and disable TFA
    private oneTimePasswordDisable = "";

    // The last OTP we tried to verify
    private lastOtp = "";

    // If true we are in the disabling procedure
    private disablingTfa = false;

    // True after just enabling TFA
    private showRecoveryCodes = false;

    async created() {
        const resp = await instance.get(Flask.url_for("api.user.tfa", {}));
        this.tfaEnabled = resp.data["tfa_enabled"];

        this.setDefaultQrImage();
    }

    private setDefaultQrImage() {
        new QRious({
            element: this.$refs.qrElement,
            value: "Join the committee! -> svia.nl/commissie/ict",
        });

        this.qrBlur = "blur(4px)";
    }

    private async getProvisioningUri() {
        this.errorMessage = "";

        try {
            const resp = await instance.post(Flask.url_for("api.user.tfa", {}));

            this.totpSecret = resp.data["secret"];
            this.uri = resp.data["provisioning_uri"];
        } catch (e) {
            this.errorMessage =
                "Could not retrieve QR code. Please try again later.";
        }
    }

    private async onEnterOtp() {
        if (
            this.oneTimePassword.length === 6 &&
            this.oneTimePassword !== this.lastOtp
        ) {
            this.lastOtp = this.oneTimePassword;
            await this.enableTfa(this.oneTimePassword);
        }
    }

    private async disableTfa() {
        this.errorMessage = "";

        try {
            await instance.patch(Flask.url_for("api.user.tfa", {}), {
                disable_tfa: true,
                otp: this.oneTimePasswordDisable,
            });

            this.successMessage =
                this.$t("tfa_disable_success");
            this.tfaEnabled = false;

            setTimeout(() => this.setDefaultQrImage());
        } catch (e) {
            this.errorMessage =
                this.$t("tfa_disable_failed");
        }
    }

    private async enableTfa(otp: string) {
        this.errorMessage = "";

        try {
            await instance.patch(Flask.url_for("api.user.tfa", {}), {
                secret: this.totpSecret,
                otp: otp,
            });

            this.tfaEnabled = true;
            this.showRecoveryCodes = true;
            this.disablingTfa = false;
            this.oneTimePassword = "";
            this.oneTimePasswordDisable = "";

            this.successMessage =
                "Congratulations! You now have two-factor authentication enabled!";
        } catch (e) {
            this.errorMessage = "Invalid code! Please try again.";
        }
    }

    private async onClickQrCode() {
        await this.getProvisioningUri();

        new QRious({
            element: this.$refs.qrElement,
            value: this.uri,
        });

        this.otpVerifyDisabled = false;
        this.qrBlur = "";
    }
}
</script>

<i18n>
{
	"en": {
		"two_factor_auth": "Two-factor authentication",
		"tfa_enter_code": "Enter the six-digit two-factor authentication code",
		"tfa_enabled": "You have two-factor authentication enabled.",
		"tfa_can_disable": "It can be disabled here. You might lose access to some of the site's features if you do this.",
		"tfa_disable": "Disable",
		"tfa_disable_not_recommended": "This is not recommended.",
		"tfa_no_tfa_insecure": "Your account will be considerably less secure without two-factor authentication enabled.",
		"tfa_disable_failed": "Could not disable two-factor authentication. Please try again later.",
		"tfa_disable_success": "Successfully disabled two-factor authentication."
	},
	"nl": {
		"two_factor_auth": "Tweestapsverificatie",
		"tfa_enter_code": "Vul de zescijferige tweestapsverificatiecode in",
		"tfa_enabled": "Je hebt tweestapsverificatie ingeschakeld.",
		"tfa_can_disable": "Je kunt tweestapsverificatie hier uitschakelen. Het is mogelijk dat je zonder tweestapsverificatie geen toegang meer hebt tot delen van deze website.",
		"tfa_disable": "Uitschakelen",
		"tfa_disable_not_recommended": "Dit is niet aanbevolen.",
		"tfa_no_tfa_insecure": "Zonder tweestapsverificatie is je account slechter beveiligd.",
		"tfa_disable_failed": "Tweestapsverificatie kon niet uitgeschakeld worden. Probeer het later opnieuw.",
		"tfa_disable_success": "Tweestapsverificatie is uitgeschakeld."
	}
}
</i18n>
