<template lang="pug">
div
    loading-container(:active="loading")
        .row
            .col
                legend {{ $t('Current groups') }}
                template(
                    v-for="ug in userGroups.filter((e) => e.currentMember)"
                )
                    i.fas.fa-users.mr-1
                    | {{ ug.name }}
                    br

            .col
                legend {{ $t('Timeline') }}
                a-timeline(:reverse="true", mode="alternate")
                    a-timeline-item(
                        v-for="ug in userGroups",
                        :key="ug.id + ug.date.toISOString()",
                        :position="ug.position",
                        :color="ug.color"
                    )
                        div {{ ug.name }}
                        div {{ ug.position == 'right' ? $t('From') : $t('Until') }} {{ date(ug.date) }}
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";
import LoadingContainer from "../loading_container.vue";
import { Timeline } from "ant-design-vue";
import { userApi } from "../../scripts/api/user";
import { date } from "../../scripts/formatters";

interface TimelineItem {
    name: string;
    id: number;
    color: "red" | "green";
    position: "left" | "right";
    date: Date;
    currentMember: boolean;
}

@Component({
    components: {
        "loading-container": LoadingContainer,
        "a-timeline": Timeline,
        "a-timeline-item": Timeline.Item,
    },
    methods: { date: date },
})
export default class UserGroupTimeline extends Vue {
    private loading = true;
    private userGroups: TimelineItem[] = [];

    async mounted(): Promise<void> {
        await this.reload();
    }

    async reload(): Promise<void> {
        try {
            this.loading = true;
            const resp = await userApi.getUserGroupDetails(this.userId);
            resp.data.groups.forEach((value) => {
                this.userGroups.push({
                    color: "green",
                    position: "right",
                    name: value.group_name,
                    id: value.group_id,
                    date: new Date(value.member_since),
                    currentMember: !value.member_until,
                });
                if (value.member_until) {
                    this.userGroups.push({
                        color: "red",
                        position: "left",
                        name: value.group_name,
                        id: value.group_id,
                        date: new Date(value.member_until),
                        currentMember: false,
                    });
                }
            });
            this.userGroups.sort((a, b) => +a.date - +b.date);
        } finally {
            this.loading = false;
        }
    }
    private get userId(): number | null {
        if (this.$route.params["userId"] === "self") {
            // "self" route
            return null;
        }
        return Number(this.$route.params["userId"]);
    }
}
</script>

<i18n src="./UserGroupTimeline.json"></i18n>
