<template lang="pug">
div
    render-page(pageUrl="sign-up/manual")
    a-form-model(
        ref="formRef",
        :model="form",
        :rules="formRules",
        :label-col="formItemLayout.labelCol",
        :wrapper-col="formItemLayout.wrapperCol",
        @submit.prevent="save"
    )
        legend {{ t('Account credentials') }}
        a-form-model-item(prop="email", :label="t('E-mail address')")
            a-input(v-model="form.email", autocomplete="email")
        a-form-model-item(prop="password", :label="t('Password')")
            a-input-password(
                v-model="form.password",
                autocomplete="new-password"
            )

        legend {{ t('Personal details') }}
        a-form-model-item(prop="first_name", :label="t('First name')")
            a-input(v-model="form.first_name", autocomplete="given-name")
        a-form-model-item(prop="last_name", :label="$t('Last name')")
            a-input(v-model="form.last_name", autocomplete="family-name")
        a-form-model-item(prop="birth_date", :label="$t('Birth date')")
            a-date-picker(
                v-model="form.birth_date",
                type="date",
                autocomplete="bday"
            )

        legend {{ $t('Address') }}
        a-form-model-item(prop="address", :label="$t('Address')")
            a-input(v-model="form.address", autocomplete="street-address")
        a-form-model-item(prop="zip", :label="$t('Zip code')")
            a-input(v-model="form.zip", autocomplete="postal-code")
        a-form-model-item(prop="city", :label="$t('City')")
            a-input(v-model="form.city", autocomplete="address-level2")
        a-form-model-item(prop="county", :label="$t('Country')")
            a-select(v-model="form.country")
                a-select-option(value="Nederland") {{ t('Netherlands') }}
                a-select-option(value="No dutch address") {{  t("I don't have a Dutch address")  }}

        legend {{ $t('UvA student information') }}

        a-form-model-item(prop="student_id", :label="$t('Student ID')")
            a-input(v-model="form.student_id")
        a-form-model-item(prop="educations", :label="$t('Study programmes')")
            EducationField(v-model="form.educations")
        a-form-model-item.mb-2(
            :wrapper-col="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 5 } } }"
        )
            Recaptcha(v-model="form.recaptcha")

        a-form-model-item.mb-2(
            :wrapper-col="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 5 } } }",
            prop="agree_with_privacy_policy"
        )
            a-alert(type="warning")
                template(v-slot:message="")
                    a-checkbox(v-model="form.agree_with_privacy_policy")
                    |
                    |
                    i18n(path="agree_to_link")
                        template(v-slot:link="")
                            a(:href="privacyUrl") {{ $t('Privacy Policy') }}
                            | .

        a-form-model-item(
            :wrapper-col="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 5 } } }"
        )
            button.btn.btn-primary(type="submit") {{ $t('Save') }}
</template>

<script setup lang="ts">
import { ref, onBeforeMount, reactive } from "vue";
import moment from "moment";
import { userApi } from "../../scripts/api/user";
import {
    Alert as AAlert,
    Button as AButton,
    Checkbox as ACheckbox,
    DatePicker as ADatePicker,
    FormModel as AFormModel,
    Input as AInput,
    Select as ASelect,
    notification,
} from "ant-design-vue";
import { useTranslation } from "../../translations";
import EducationField from "../form/EducationField.vue";
import Flask from "../../utils/flask";
import RenderPage from "../page/render_page.vue";
import Recaptcha from "../form/Recaptcha.vue";
// Workaround for components that are variables.
const ASelectOption = ASelect.Option;
const AFormModelItem = AFormModel.Item;
const AButtonGroup = AButton.Group;
const AInputPassword = AInput.Password;

const { t } = useTranslation();
const privacyUrl = Flask.url_for("home.privacy_policy", {
    lang: window.viaduct?.locale,
});
const formItemLayout = {
    labelCol: {
        xs: { span: 24 },
        sm: { span: 5 },
    },
    wrapperCol: {
        xs: { span: 24 },
        sm: { span: 19 },
    },
};

const formRef = ref(null);
const form = reactive({
    email: "",
    password: "",
    first_name: "",
    last_name: "",
    birth_date: null,
    address: "",
    zip: "",
    city: "",
    country: "Nederland",
    student_id: "",
    educations: [],
    recaptcha: "",
    agree_with_privacy_policy: false,
});

const formRules = {
    email: [
        { required: true, message: t("This field is required.") },
        {
            max: 200,
            message: t("Field cannot be longer than {len} characters.", {
                len: 200,
            }),
        },
    ],
    password: [
        { required: true, message: t("This field is required.") },
        {
            min: 7,
            message: t("Field must be longer than {len} characters.", {
                len: 7,
            }),
        },
    ],
    first_name: [
        { required: true, message: t("This field is required.") },
        {
            max: 256,
            message: t("Field cannot be longer than {len} characters.", {
                len: 256,
            }),
        },
    ],
    last_name: [
        { required: true, message: t("This field is required.") },
        {
            max: 256,
            message: t("Field cannot be longer than {len} characters.", {
                len: 256,
            }),
        },
    ],
    birth_date: [{ required: true, message: t("This field is required.") }],
    address: [
        { required: true, message: t("This field is required.") },
        {
            max: 200,
            message: t("Field cannot be longer than {len} characters.", {
                len: 200,
            }),
        },
    ],
    zip: [
        { required: true, message: t("This field is required.") },
        {
            max: 8,
            message: t("Field cannot be longer than {len} characters.", {
                len: 8,
            }),
        },
    ],
    city: [
        { required: true, message: t("This field is required.") },
        {
            max: 256,
            message: t("Field cannot be longer than {len} characters.", {
                len: 256,
            }),
        },
    ],
    country: [{ required: true, message: t("This field is required.") }],
    student_id: [{ required: true, message: t("This field is required.") }],
    educations: [{ required: true, message: t("This field is required.") }],
    recaptcha: [{ required: true, message: t("This field is required.") }],
    agree_with_privacy_policy: [
        { required: true, message: t("This field is required.") },
        {
            validator: (rule, value, callback) => {
                if (!value) callback(new Error("This field is required."));
                callback();
            },
        },
    ],
};

const save = async () => {
    try {
        try {
            await (formRef.value as any).validate();
        } catch (e) {
            return;
        }

        const formData = new FormData();
        formData.append("csrf_token", window.viaduct.csrf_token);
        formData.append("email", form.email);
        formData.append("first_name", form.first_name);
        formData.append("last_name", form.last_name);
        formData.append(
            "birth_date",
            moment(form.birth_date).format("YYYY-MM-DD")
        );
        formData.append("address", form.address);
        formData.append("zip", form.zip);
        formData.append("city", form.city);
        formData.append("country", form.country);
        formData.append("password", form.password);
        for (const educationId of form.educations) {
            formData.append("educations", educationId);
        }
        formData.append("student_id", form.student_id);
        formData.append("password", form.password);
        formData.append("g-recaptcha-response", form.recaptcha);
        formData.append(
            "agree_with_privacy_policy",
            form.agree_with_privacy_policy.toString()
        );
        console.log(formData);
        await userApi.post(window.location.pathname, formData);
        notification.success({
            message: t("save.success.title") as string,
            description: t("save.success.description") as string,
        });
        window.location.href = Flask.url_for("home.home");
    } catch (e) {
        console.error(e);
        notification.error({
            message: t("save.error.title") as string,
            description: JSON.stringify(e.response.data),
        });
    }
};
</script>

<style lang="sass">
.ant-form-item
    margin-bottom: 0
</style>

<i18n src="./UserProfileEdit.json"></i18n>
