{% block title -%}
    Declaration
{%- endblock %}

<p>Dear treasurer of via,</p>
<br>

 <p>
 {{ user.first_name }} {{ user.last_name }} has submitted a declaration. The declaration is for the following reason: {{ reason }}
</p>

<p>NAW-data:</p>
<ul>
    <li>Name: {{ user.first_name }} {{ user.last_name }}</li>
    <li>Address: {{ user.address }}</li>
    <li>Zip: {{ user.zip }}</li>
    <li>City: {{ user.city }}</li>
    <li>IBAN: {{ iban }}</li>
    <li>Committee: {{ committee }}</li>
    <li>Amount: €{{ amount }}</li>
</ul>
<br>

<p>
    With kind regards,<br/><br/>

    {{ user.first_name }} {{ user.last_name }}
</p>
