<template lang="pug">
loading-container(:active="loading")
    a-breadcrumb(v-if="showBreadcrumbs")
        a-breadcrumb-item
            a(href="/admin") Admin
        a-breadcrumb-item
            router-link(:to="{ name: 'courses' }", v-slot="{ href, navigate }")
                a(:href="href", @click="navigate") {{ $t('breadcrumb.overview') }}
        a-breadcrumb-item {{ $t('breadcrumb.create') }}
    h1 {{ $t('header') }}
    a-form(:form="form", @submit.prevent="save")
        a-form-item(
            v-bind="formItemLayout",
            :label="$t('form.datanose_code.label')",
            :help="$t('form.datanose_code.help')"
        )
            a-input(
                v-decorator="['datanose_code', { rules: [{ required: true, message: $t('form.datanose_code.error') }]}]"
            )

        a-form-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
        )
            a-button-group
                router-link(
                    :to="$route.meta.from || { name: 'courses' }",
                    v-slot="{ href, navigate }"
                )
                    a-button(:href="href", @click="navigate")
                        | {{ $t('Back') }}
                a-button(type="primary", html-type="submit") {{ $t('Submit') }}
</template>

<script lang="ts">
import Vue from "vue";
import { validateAntForm } from "../../utils/form";
import { WrappedFormUtils } from "ant-design-vue/types/form/form";
import { Component } from "vue-property-decorator";
import { examinationApi } from "../../scripts/api/examination";
import LoadingContainer from "../loading_container.vue";
import { Button, Form, Input, Breadcrumb, notification } from "ant-design-vue";
import { authStore } from "../../store/auth";

@Component({
    components: {
        "loading-container": LoadingContainer,
        "a-form": Form,
        "a-form-item": Form.Item,
        "a-input": Input,
        "a-button": Button,
        "a-button-group": Button.Group,
        "a-breadcrumb": Breadcrumb,
        "a-breadcrumb-item": Breadcrumb.Item,
    },
})
export default class CreateCourse extends Vue {
    private loading = false;
    private form: WrappedFormUtils | null = null;
    private formItemLayout = {
        labelCol: {
            xs: { span: 24 },
            sm: { span: 4 },
        },
        wrapperCol: {
            xs: { span: 24 },
            sm: { span: 20 },
        },
    };

    created(): void {
        this.form = this.$form.createForm(this);
    }

    get showBreadcrumbs(): boolean {
        return !!authStore.roles.EXAMINATION_WRITE?.has_role;
    }

    private async save() {
        let values;

        try {
            values = await validateAntForm(this.form!);
        } catch (e) {
            /* Form did not validate. */
            return;
        }

        try {
            this.loading = true;
            const resp = await examinationApi.createCourse(values);
            if (
                this.$route.meta &&
                this.$route.meta.from &&
                this.$route.meta.from.name !== "courses"
            ) {
                this.$router.replace(this.$route.meta.from);
            } else {
                this.$router.replace({
                    name: "courses",
                    query: { search: resp.data.name },
                });
            }
            notification.success({
                message: "Success",
                description: "Course successfully saved.",
            });
        } finally {
            this.loading = false;
        }
    }
}
</script>
<i18n src="./create_course.json"></i18n>
