<template lang="pug">
keep-alive
    div
        h1 {{ $t('education_overview') }}

        a-input-search.w-100(
            :placeholder="$t('education_search')",
            v-model="search"
        )
            template(v-slot:enterButton="")
                a-button(:href="addEducationUrl()", type="primary")
                    | {{ $t('education_create') }}
        a-table.mt-3(
            :columns="columns",
            :rowKey="(record) => record.id",
            :dataSource="data",
            :pagination="pagination",
            :loading="loading",
            :bodyStyle="{ 'overflow-x': 'auto' }",
            @change="handleTableChange"
        )
            template(v-slot:programmeType="record") {{ capitalize(record.programme_type) }}
            template(v-slot:action="record")
                a-button(type="link", :href="editEducationUrl(record)") {{ $t('education_edit') }}
                a-divider(type="vertical")
                a-popconfirm(
                    :title="$t('education_delete_confirm')",
                    @confirm="doDelete(record.id)"
                )
                    a-button(type="link") {{ $t('education_delete') }}
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import instance from "../../utils/axios";
import Flask from "../../utils/flask";
import { Education } from "../../types/examination";
import { VuePaginatedAnt } from "../../utils/VuePaginatedAnt";
import { Button, Divider, Input, Popconfirm, Table } from "ant-design-vue";
import { capitalize } from "../../scripts/formatters";

@Component({
    name: "education-overview",
    components: {
        "a-input-search": Input.Search,
        "a-button": Button,
        "a-table": Table,
        "a-divider": Divider,
        "a-popconfirm": Popconfirm,
    },
    methods: { capitalize: capitalize },
})
export default class EducationOverview extends VuePaginatedAnt {
    data: Education[] = [];
    columns = [
        {
            title: this.$t("education_name") + ' (nl)',
            dataIndex: "nl_name",
        },
        {
            title: this.$t("education_name") + ' (en)',
            dataIndex: "en_name",
        },
        {
            title: this.$t("education_type"),
            key: "programmeType",
            scopedSlots: { customRender: "programmeType" },
        },
        {
            title: this.$t("education_action"),
            key: "action",
            scopedSlots: { customRender: "action" },
        },
    ];

    async created() {
        await this.refreshListView();
    }

    async refreshListView() {
        try {
            this.loading = true;
            const resp = await instance.get(
                Flask.url_for("api.educations", {
                    search: this.search,
                    page: this.page,
                })
            );

            this.data = resp.data.data;
            this.pagination.pageSize = resp.data.page_size;
            this.pagination.total = resp.data.total;
        } finally {
            this.loading = false;
        }
    }

    private async doDelete(educationId) {
        try {
            this.loading = true;
            await instance.delete(
                Flask.url_for("api.education", {
                    education_id: educationId,
                })
            );
            await this.refreshListView();
        } finally {
            this.loading = false;
        }
    }

    private addEducationUrl() {
        return Flask.url_for("education.add_education", { redir: "education" });
    }

    private editEducationUrl(education) {
        return Flask.url_for("education.edit_education", {
            education: education.id,
            redir: "education",
        });
    }
}
</script>

<i18n>
{
	"en": {
		"education_overview": "Study programmes overview",
		"education_name": "Programme name",
		"education_type": "Type",
		"education_action": "Action",
		"education_search": "Search programme",
		"education_create": "Add new programme",
		"education_edit": "Edit",
		"education_delete": "Delete",
		"education_delete_confirm": "Are you sure?"
	},
	"nl": {
		"education_overview": "Opleidingenoverzicht",
		"education_name": "Opleidingsnaam",
		"education_type": "Type",
		"education_action": "Actie",
		"education_search": "Opleiding zoeken",
		"education_create": "Opleiding toevoegen",
		"education_edit": "Bewerken",
		"education_delete": "Verwijderen",
		"education_delete_confirm": "Weet je het zeker?"
	}
}
</i18n>
