{% macro render_membership_confirmation_pending_message(user) %}
    <div class="nav-message">
        <div class="container nav-message-text">

            {% if user.is_authenticated and user_service.user_is_master_student(user) %}
                {{ _('Your membership of <b>via</b> is pending confirmation. As a master student there is no contribution fee. You can confirm your membership <a href="/membership/payment">here</a>. For more information, visit the <a href="/lidmaatschap">membership page</a>.') | safe }}
            {% else %}
                {{ _('Your membership fee is awaiting payment. You can pay for your membership <a href="/membership/payment">here</a>.') | safe }}
            {% endif %}

        </div>
    </div>
{% endmacro %}

{% macro render_banner(banner_view) %}
    {% set banner = banner_view.banner %}

    <div class="nav-message"{% if banner.background %} style="background: {{ banner.background | safe }};"{% endif %}>
        <div class="container nav-message-text">
            {{ banner_view.get_message_for_locale() | markdown }}
        </div>
    </div>
{% endmacro %}
