{#  Jinja only allows you to call a macro with **kwargs if it is used somewhere.
    Calling {{ ignore_kwargs(kwargs) }} satisfies this condition even if kwargs
    is not really used.
    This way, all render_* macros can take **kwargs
 #}
{% macro ignore_kwargs(_kwargs) %}
{% endmacro %}

{% macro _render_errors(field) %}
    {%- if field.errors -%}
        {%- for error in field.errors -%}
            <p class="invalid-feedback">{{ error }}</p>
        {%- endfor -%}
    {%- endif -%}
{% endmacro %}

{% macro _render_field_with_errors(field, field_input_html,
        render_label=True, html_bottom=None, wrap_inputgroup=False) %}
    {{ ignore_kwargs(kwargs) }}
    <div class="form-group">

        {%- if field.description -%}
        {% if render_label %}
            {{ field.label(class='mb-0') }}
        {% endif %}
        <div>
            <small>{{ field.description }}</small>
        </div>
        {%- elif render_label %}
            {{ field.label }}
        {%- endif -%}

        {% if wrap_inputgroup %}
        <div class="input-group">
        {% endif %}
        {{ field_input_html }}

        {%- if html_bottom -%}
        {{ html_bottom }}
        {%- endif -%}
        {% if wrap_inputgroup %}
        </div>
        {% endif %}
   {{ _render_errors(field) }}
    </div>
{% endmacro %}

{% macro render_field_disabled(field) %}
    {{ render_field(field, disabled=True, **kwargs) }}
{% endmacro %}


{% macro render_field(field, autocomplete='on', disabled=False) %}
    {{ ignore_kwargs(kwargs) }}
    {% if field.errors %}
        {% set form_class = 'form-control is-invalid' %}
    {% else %}
        {% set form_class = 'form-control' %}
    {% endif %}
    {{ _render_field_with_errors(field,
        field(placeholder=field.label.text, class=form_class,
        autocomplete=autocomplete, disabled=disabled), **kwargs) }}
{% endmacro %}

{% macro render_submit(text) %}
    <div class="form-group">
        <button class='btn {{ kwargs.get('class', 'btn-primary') }}' data-loading-text={{_('Loading...')}}
            type='submit'>{{ text }}</button>
    </div>
{% endmacro %}

{% macro _render_checkbox_input_html(field, label=None) %}
    <div class="form-check">
            {% if field.errors %}
                {{ field(class='form-check-input is-invalid') }}
            {% else %}
                {{ field(class='form-check-input') }}
            {% endif %}

            {% if label %}
                {{ label }}
            {% else %}
                {{ field.label }}
            {% endif %}
        {{ _render_errors(field) }}
    </div>
{% endmacro %}

{% macro render_checkbox(field) %}
    {{ ignore_kwargs(kwargs) }}
    {{ _render_field_with_errors(field, _render_checkbox_input_html(field),
        render_label=False) }}
{% endmacro %}

{% macro render_checkbox_well(field, label=None) %}
    {{ ignore_kwargs(kwargs) }}

    <div class="card bg-light mb-3">
        <div class="card-body">
            {{ _render_checkbox_input_html(field, label) }}
        </div>

        {{ _render_errors(field) }}
        {%- if field.errors -%}
            {%- for error in field.errors -%}
                <p class="invalid-feedback">{{ error }}</p>
            {%- endfor -%}
        {%- endif -%}
    </div>

{% endmacro %}

{% macro render_textarea(field) %}
    {{ ignore_kwargs(kwargs) }}
    {{ _render_field_with_errors(field, field(placeholder=field.label.text, class='form-control',
                cols='50', rows='10')) }}
{% endmacro %}

{% macro _render_number_input(field, step) %}
<input class="form-control" type="number" step="{{ step }}" placeholder="{{ field.label.text }}" name="{{ field.name }}"{% if field.data %} value="{{ field.data }}"{%endif%} />
{% endmacro %}

{% macro render_integer(field) %}
    {{ ignore_kwargs(kwargs) }}
    {{ _render_field_with_errors(field, _render_number_input(field, 1)) }}
{% endmacro %}

{% macro render_ant_date_picker(field) %}
    {{ ignore_kwargs(kwargs) }}
{#  Convert the (most used) fields of the Python date format
    to the date format of ant-date-picker #}
{%- set format = field.format
                    | replace('%Y', 'YYYY')
                    | replace('%m', 'MM')
                    | replace('%d', 'DD')
                    | replace('%H', 'HH')
                    | replace('%M', 'mm')
                    | replace('%S', 'ss') -%}

    {{ ignore_kwargs(kwargs) }}
    <wtform-date-picker
         id="{{ field.id }}"
         :label='"{{ field.label.text }}"'
         :description='"{{ field.description }}"'
         :id='"{{ field.id }}"'
         :name='"{{ field.name }}"'
         :format='"{{ format}}"'
         :value='"{{ field.data if field.data else "" }}"'
         :errors='{{ field.errors | tojson }}'
    >
    </wtform-date-picker>
{% endmacro %}

{% macro render_select_field(field, multiple=False) %}
    {{ ignore_kwargs(kwargs) }}
    <wtform-select-field
         id="{{ field.id }}"
         :label='"{{ field.label.text }}"'
         :id='"{{ field.id }}"'
         :name='"{{ field.name }}"'
         :choices='{{ list(field.iter_choices()) | tojson }}'
         :errors='{{ field.errors | tojson }}'
         :multiple="{{ multiple | tojson }}"
    ></wtform-select-field>
{% endmacro %}

{% macro _render_radiobuttons_list(field) %}
{% for value, label, selected in field.iter_choices() %}
<div class="radio">
    <label>
        <input type="radio" name="{{ field.name }}" value="{{ value }}" {%- if selected -%}checked="checked"{%- endif -%}>
        {{ label }}
    </label>
</div>
{% endfor %}
{% endmacro %}

{% macro render_radio_buttons(field) %}
    {{ ignore_kwargs(kwargs) }}
    {{ _render_field_with_errors(field, _render_radiobuttons_list(field), False) }}
{% endmacro %}

{% macro render_recaptcha(field) %}
    {{ ignore_kwargs(kwargs) }}
    <div class="form-group">
        <div class="g-recaptcha" data-sitekey="{{ app_config['RECAPTCHA_PUBLIC_KEY'] }}"></div>
        {%- if field.errors -%}
        <p class="form-text text-danger">{{ _("Please verify that you are not a robot.") }}</p>
        {%- endif -%}
    </div>
{% endmacro %}

{% macro _render_email_list_input(field, domain) %}
    <div class="input-group">
      {{ field(class='form-control') }}
        <div class="input-group-append">
            <span class="input-group-text">@{{ domain }}</span>
        </div>
    </div>
{% endmacro %}

{% macro render_email_list(field) %}
    {%- set domain = kwargs.get('domain', 'svia.nl') -%}
    {{ _render_field_with_errors(field, _render_email_list_input(field, domain)) }}
{% endmacro %}

{% macro render_submit_full(submit_text, submit_class, back_button_url, back_button_text) %}
    {% if not back_button_url %}
    <div class="form-group">
        <button class='btn {{ submit_class }}' data-loading-text={{_('Loading...')}}
            type='submit'>{{ submit_text }}</button>
    </div>
    {% else %}
    <div class="form-group">
        <div class="btn-group">
            <a href="{{ back_button_url }}" class="btn btn-success">
                <i class="fas fa-arrow-left"></i>
                {{ back_button_text | default(_('Back'), True) }}</a>
            <button class='btn {{ submit_class }}' data-loading-text={{_('Loading...')}} type='submit'>
                <i class="fas fa-check"></i>
                {{ submit_text }}
            </button>
        </div>
    </div>
    {% endif %}
{% endmacro %}

{% macro render_vsplit(vsplit) %}
<div class="row {%- if vsplit.large_spacing %} justify-content-between{% endif %}">
{% for i, field_list in enumerate(vsplit) %}
    <div class="col-md-{{ vsplit.column_sizes[i] }}">
        {% for field in field_list %}
        {{ _render_field_internal(field, **kwargs) }}
        {% endfor %}
    </div>
{% endfor %}
</div>
{% endmacro %}

{% macro _render_field_internal(f) %}
    {%- set render_before_hook = kwargs.get('render_before_hook', None) -%}
    {%- set render_after_hook = kwargs.get('render_after_hook', None) -%}
    {%- set extra_field_renderers = kwargs.get('extra_field_renderers', {}) -%}
    {%- if render_before_hook -%}
    {{ render_before_hook(f) }}
    {%- endif -%}

    {%- if f.type in extra_field_renderers -%}
        {{ extra_field_renderers[f.type](f, **kwargs) }}
    {%- elif f.type == 'BooleanField' -%}
        {{ render_checkbox(f, **kwargs) }}
    {%- elif f.type == 'DateField' -%}
        {{ render_ant_date_picker(f, **kwargs) }}
    {%- elif f.type == 'SelectField' or f.type == 'QuerySelectField' -%}
        {{ render_select_field(f, **kwargs) }}
    {%- elif f.type == 'QuerySelectMultipleField' -%}
        {{ render_select_field(f, multiple=True, **kwargs) }}
    {%- elif f.type == 'IntegerField' -%}
        {{ render_integer(f, **kwargs) }}
    {%- elif f.type == 'RadioField' -%}
        {{ render_radio_buttons(f, **kwargs) }}
    {%- elif f.type == 'SubmitField' -%}
        {{ render_submit(f.label.text, **kwargs) }}
    {%- elif f.type == 'TextAreaField' -%}
        {{ render_textarea(f, **kwargs) }}
    {%- elif f.type == 'FieldVerticalSplit' -%}
        {{ render_vsplit(f, **kwargs) }}
    {%- elif f.type == 'RecaptchaField' -%}
        {{ render_recaptcha(f, **kwargs) }}
    {%- elif f.type != 'CSRFTokenField' -%}
        {{ render_field(f, **kwargs) }}
    {%- endif -%}

    {%- if render_after_hook -%}
    {{ render_after_hook(f) }}
    {%- endif -%}
{% endmacro %}

{% macro render_form(form, action='',
                     form_id='', form_name='', form_class='',
                     submit_text='', submit_class='btn-primary', back_button_url=None,
                     back_button_text='', extra_field_renderers={},
                     submit_renderer=None, render_before_hook=None, render_after_hook=None) %}

{%- set form_wrapped = FormWrapper(form) -%}
<form method="POST" action="{{ action }}" enctype="multipart/form-data" class="{{ form_class }}" name="{{ form_name }}">
    {{ form_wrapped.csrf_token }}
    {%- for f in form_wrapped -%}
        {{ _render_field_internal(f, extra_field_renderers=extra_field_renderers,
                                  render_before_hook=render_before_hook,
                                  render_after_hook=render_after_hook, **kwargs) }}
    {%- endfor -%}
    {%- if not submit_text or submit_text == '' -%}
        {%- set submit_text = _('Submit') -%}
    {%- endif -%}
    {%- if not form_wrapped.has_submit_field -%}
        {%- if submit_renderer -%}
            {{ submit_renderer() }}
        {%- else -%}
            {{ render_submit_full(submit_text, submit_class, back_button_url, back_button_text) }}
        {%- endif -%}
    {%- endif -%}
</form>
{% endmacro %}
