{% macro _render_router_view(locale) %}
    <App locale="{{locale}}"/>
{% endmacro %}

{% macro render_vue_app(keep_alive_include, locale) %}
    {%- if keep_alive_include is defined and keep_alive_include %}
        <keep-alive include="{{ keep_alive_include }}">
            {{ _render_router_view(locale) }}
        </keep-alive>
    {%- else %}
        {{ _render_router_view(locale) }}
    {%- endif %}
    <noscript>
        <div class="alert alert-error">{{ _("This page is only available using Javascript. So you better turn it on.") }}</div>
    </noscript>
{% endmacro %}
