{% extends "base.htm" %}

{% from "macros/flash.htm" import render_flash %}

{% block title%}{{ _('Page history') }}{% endblock %}

{% block page %}
    {% for language, diff in diffs.items() %}
        <h3>{{ language }}</h3>
        <p>{{ diff | safe }}</p>
    {% endfor %}
{% endblock %}
