<template>
    <keep-alive>
        <div>
            <a-breadcrumb>
                <a-breadcrumb-item>
                    <a href="/admin/">Admin</a>
                </a-breadcrumb-item>
                <a-breadcrumb-item>
                    <router-link :to="{ name: 'pages' }"> Pages </router-link>
                </a-breadcrumb-item>
            </a-breadcrumb>
            <h1>{{ $t("Page overview") }}</h1>
            <a-input-search
                v-model="search"
                class="w-100"
                placeholder="Search page"
            >
                <template #enterButton="">
                    <router-link
                        v-slot="{ href, navigate }"
                        :to="{ name: 'create-page' }"
                    >
                        <a-button :href="href" type="link" @click="navigate">
                            {{ $t("Create new page") }}
                        </a-button>
                    </router-link>
                </template>
            </a-input-search>
            <a-table
                class="mt-3"
                :columns="columns"
                :row-key="(record) => record.id"
                :data-source="data"
                :pagination="pagination"
                :loading="loading"
                :body-style="{ 'overflow-x': 'auto' }"
                @change="handleTableChange"
            >
                <template #modified="record">
                    {{ getFormattedRecord(record) }}
                </template>
                <template #action="record">
                    <a-button type="link" :href="`/${record.path}`">
                        {{ $t("View") }}
                    </a-button>
                    <a-divider type="vertical" />
                    <a-button type="link" :href="historyPage(record.id)">
                        {{ $t("History") }}
                    </a-button>
                    <a-divider type="vertical" />
                    <router-link
                        v-slot="{ href, navigate }"
                        :to="editPage(record.id)"
                    >
                        <a-button type="link" :href="href" @click="navigate">
                            {{ $t("Edit") }}
                        </a-button>
                    </router-link>
                    <a-divider type="vertical" />
                    <a-button
                        v-if="!!record.deleted"
                        type="link"
                        disabled="disabled"
                    >
                        {{ $t("Delete") }}
                    </a-button>
                    <a-popconfirm
                        v-else
                        title="Sure to delete?"
                        @confirm="deletePage(record)"
                    >
                        <a-button type="link">
                            {{ $t("Delete") }}
                        </a-button>
                    </a-popconfirm>
                </template>
            </a-table>
        </div>
    </keep-alive>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import instance from "../../utils/axios";
import Flask from "../../utils/flask";
import { Page } from "../../types/page";
import { VuePaginatedAnt } from "../../utils/VuePaginatedAnt";
import { pageApi } from "../../scripts/api/page";
import {
    Breadcrumb,
    Button,
    Divider,
    Input,
    Popconfirm,
    Table,
} from "ant-design-vue";
import moment from "moment";

@Component({
    components: {
        "a-input-search": Input.Search,
        "a-table": Table,
        "a-button": Button,
        "a-divider": Divider,
        "a-popconfirm": Popconfirm,
        "a-breadcrumb": Breadcrumb,
        "a-breadcrumb-item": Breadcrumb.Item,
    },
})
export default class PageOverview extends VuePaginatedAnt {
    private data: Page[] = [];
    private columns = [
        {
            title: this.$t("Path"),
            dataIndex: "path",
            sorter: true,
        },
        {
            title: this.$t("Type"),
            dataIndex: "type",
        },
        {
            title: this.$t("table.column.modified"),
            dataIndex: "modified",
            sorter: true,
            scopedSlots: { customRender: "modified" },
        },
        {
            title: this.$t("Action"),
            key: "action",
            scopedSlots: { customRender: "action" },
        },
    ];

    async mounted(): Promise<void> {
        await this.refreshListView();
    }

    async activated(): Promise<void> {
        await this.refreshListView();
    }

    async refreshListView(): Promise<void> {
        try {
            this.loading = true;
            const resp = (
                await pageApi.findPages(this.search, this.page, this.sort)
            ).data;

            this.data = resp.data;
            this.pagination.pageSize = resp.page_size;
            this.pagination.total = resp.total;
        } catch (e) {
            console.log(e);
        } finally {
            this.loading = false;
        }
    }

    private historyPage(page_id: number) {
        return Flask.url_for("page.get_page_history", { page: page_id });
    }

    private editPage(page_id: number) {
        return Flask.url_for("pages.view", { page: page_id });
    }

    private async deletePage(page: Page) {
        try {
            await instance.delete(Flask.url_for("api.page", { page: page.id }));
            page.deleted = new Date().toISOString();
        } catch (e) {
            console.log(e);
        }
    }

    private getFormattedRecord(record: Page): string {
        return moment(record.modified).format("D MMM YYYY");
    }
}
</script>

<style lang="sass">
.table-row-deleted
    opacity: 0.3
    text-decoration: line-through
</style>

<i18n src="./page_overview.json"></i18n>
