{% extends 'base.htm' %}

{% from 'macros/domjudge.htm' import problem_badge_style %}

{% set __fullscreen_mode = fullscreen %}

{% block title %}
    {{ contest.name }}
{% endblock %}

{% block includes %}
    {% if __fullscreen_mode %}
            <link href="{{static_url("/static/css/domjudge-scoreboard-fullscreen.css")}}" rel="stylesheet" />
            {% if embed is defined and embed %}
            <link href="{{static_url("/static/css/domjudge-scoreboard-embed.css")}}" rel="stylesheet" />
            {% endif %}
    {% endif %}
{% endblock %}

{% block page %}
{% if contest %}
</div> {# closes the div.container from base.htm #}
<div class="domjudge-scoreboard-content">

<h1>{{ contest.name }}</h1>

{%- if not fullscreen -%}
<div class="float-right btn-group" id="domjudge-buttons">
    {%- if link -%}
    <div class="btn-group">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
            <i class="fas fa-cog" style="margin-right: 5px"></i>
            <span class="d-none d-sm-inline-block">{{ _('Administrator') }}</span>
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ url_for('domjudge.contest_submissions_view_all', contest_id=contest.id) }}">{{ _('All submissions') }}</a>
            <a class="dropdown-item" href="{{ url_for('domjudge.contest_edit', contest_id=contest.id) }}">{{ _('Contest settings') }}</a>
            <a class="dropdown-item" href="{{ url_for('domjudge.contest_users', contest_id=contest.id) }}">{{ _('Users overview') }}</a>
            <a class="dropdown-item" href="{{ url_for('domjudge.contest_check', contest_id=contest.id) }}">{{ _('Check contest configuration') }}</a>
        </div>
    </div>
    {%- endif -%}
    <a href="{{ url_for('domjudge.contest_problems_list', contest_id=contest.id) }}"
        class="btn btn-primary">
        <i class="fas fa-list-ul" style="margin-right: 5px"></i>
        <span class="d-none d-sm-inline-block">{{ _('Problem list') }}</span>
    </a>
    <a href="{{ url_for('domjudge.contest_submissions_view_self', contest_id=contest.id) }}"
        class="btn btn-primary">
        <i class="far fa-edit" style="margin-right: 5px"></i>
        <span class="d-none d-sm-inline-block">{{ _('My submissions') }}</span>
    </a>
</div>

{%- endif -%}
<div id="domjudge-time-table">
<table >
    <tr>
        <td><span class="font-weight-bold">{{ _('Start time') }}:</span></td>
        <td>{{ contest.start_time | datetime }}</td>
    </tr>
    <tr>
        <td><span class="font-weight-bold">{{ _('End time') }}:</span></td>
        <td>{{ contest.end_time | datetime }}</td>
    </tr>
</table>
</div>

{%- if contest_settings and contest_settings.banner_file -%}
<div class="row mt-2">
    <div class="col">
        {%- if contest_settings.banner_url %}
        <a href="{{ contest_settings.banner_url }}" target="_blank">
            <img class="mx-auto d-block" src="{{ url_for('domjudge.banner', contest_id=contest.id) }}" alt="Banner" />
        </a>
        {%- else %}
        <img class="mx-auto d-block" src="{{ url_for('domjudge.banner', contest_id=contest.id) }}" alt="Banner" />
        {%- endif %}
    </div>
</div>
{%- endif -%}

<div class="row mt-3">
{%- if embed is defined and not embed -%}
    <div class="col-md-12">
    <h5>{{ _('Explanation of score:') }}</h5>
    <p>{{ _('The contents of a cell has either the format \'M/N\' on accepted solutions or \'M\' otherwise,
    where M is the amount attempts, N is the the total time taken (in minutes)') }}
    </p>
    </div>
{%- endif -%}
</div>
{%- if not fullscreen -%}
<h2>{{ _('Scoreboard') }}:</h2>
{%- endif -%}

<div class="table-responsive" id="domjudge-scoreboard-table">
    <table class='table table-striped'>
        <thead>
            <tr>
                <th>{{ _('Rank') }}</th>
                <th>{{ _('Team') }} / {{ _('User') }}</th>
                <th>
                    {% if embed is defined and embed -%}<div class="text-center">{%- endif %}
                        {{ _('Score') }}<br />
                        <small>{{ _('Amount solved')}} / {{ _('Total problems') }}</small>
                    {% if embed is defined and embed -%}</div>{%- endif %}
                </th>
                {%- if embed is defined and not embed -%}
                {% for problem in problems %}
                <th>
                    <a href="{{ url_for('domjudge.contest_problem_submit',
                        contest_id=contest.id, problem_id=problem.id) }}"
                        class="domjudge-problem-title"
                        style="{{ problem_badge_style(problem) }}">
                        <i class="fas fa-flag" style="margin-right: 5px"></i><br />
                        <span class="domjudge-problem-title-name">{{- problem.short_name -}}</span>
                    </a>
                </th>
                {% endfor %}
                {%- endif -%}
            </tr>
        </thead>

        <tbody>
        {% for i, row in enumerate(scoreboard) %}
        {%- if embed is defined and not embed or i < 10 -%}
            <tr>
                <td>
                    {% if embed is defined and embed -%}<strong>{%- endif %}
                    {{ row.rank }}
                    {% if embed is defined and embed -%}</strong>{%- endif %}
                </td>
                <td>
                    {%- set team = teams[row.team_id] -%}
                    {%- if link -%}
                    <strong>
                        <a href="{{ url_for('domjudge.contest_submissions_view', contest_id=contest.id, team_id=team.id) }}">
                            {{ team.name }}
                        </a>
                    </strong>
                    {%- else -%}
                    <strong>{{ team.name }}</strong>
                    {%- endif -%}
                </td>
                <td>
                    {% if embed is defined and embed -%}<div class="text-center">{%- endif %}
                        <strong>{{ row.score.num_solved }}</strong> / {{ total_problems_amount }}
                    {% if embed is defined and embed-%}</div>{%- endif %}
                </td>
                {%- if embed is defined and not embed -%}
                {% for problem in row.problems %}
                <td class="{{ problems_classes[problem] }}">
                {%- set total_num = problem.num_pending + problem.num_judged -%}
                {%- if total_num > 0 -%}
                {{- total_num -}}
                {%- if problem.solved %}
                     / {{ problem.time }}
                {%- endif -%}
                {%- endif -%}
                </td>
                {% endfor %}
                {%- endif -%}
            </tr>
        {%- endif -%}
        {% endfor %}
        </tbody>

    </table>
</div>
{% if not fullscreen %}
<div class="row">
    <div class="col-md-4 col-lg-3 domjudge-legend">
        <h5>{{ _('Legend') }}:</h5>
        <ul class="domjudge-legend-list">
            <li class="domjudge-legend-item-solved-first">{{ _('Solved first') }}</li>
            <li class="domjudge-legend-item-solved">{{ _('Solved') }}</li>
            <li class="domjudge-legend-item-incorrect">{{ _('Incorrect') }}</li>
            <li class="domjudge-legend-item-judging">{{ _('Pending') }}</li>
            <li class="domjudge-legend-item-untried">{{ _('Untried') }}</li>
        </ul>
    </div>
</div>
{% endif %}
{% endif %}
{% if not fullscreen %}
<div class="control-group mt-2">
    <div class="controls btn-group">
        <a href="{{ url_for('domjudge.contest_list') }}" class='btn btn-primary'>
            <i class="fas fa-arrow-left"></i> {{_('Back')}}
        </a>
        <a href="{{ request.url }}?fullscreen" class='btn btn-warning'>
            <i class="fas fa-arrows-alt"></i> {{_('Fullscreen')}}
        </a>
    </div>
</div>
</div>
{% endif %}
<div class="container"> {# re-opens the div.container from base.htm #}
{% endblock %}
